Repository naturalspirit-dev/flutterfire, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @amirh, @bparrishMines

chore(firebase_auth): fix formatting
  packages/firebase_auth/firebase_auth/darwin/Classes/FLTFirebaseAuthPlugin.m
Owners: none

docs(firebase_auth): update visible sidebar links
  docs/auth/overview.mdx
  docs/sidebars.js
Owners: none

chore(firebase_auth): change calls to `initializeApp`
  packages/firebase_auth/firebase_auth/darwin/Classes/FLTFirebaseAuthPlugin.m
  packages/firebase_auth/firebase_auth/example/lib/main.dart
  packages/firebase_auth/firebase_auth/example/test_driver/firebase_auth_e2e.dart
Owners: none

[firebase_ml_vision] Bug fix: if confidence is 1 or 0 it is decoded as int (#3010)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/lib/src/image_labeler.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
  packages/firebase_ml_vision/test/image_labeler_test.dart
Owners: @bparrishMines

fix(cloud_firestore): remove unnecessary `await` in the example (#3019)
  packages/cloud_firestore/cloud_firestore/example/lib/main.dart
Owners: none

chore(cloud_functions): migrate to depend on new `firebase_core` plugin (#3011)
  .github/workflows/firebase_functions.yaml
  docs/functions/overview.mdx
  docs/sidebars.js
  packages/cloud_functions/cloud_functions/CHANGELOG.md
  packages/cloud_functions/cloud_functions/android/build.gradle
  packages/cloud_functions/cloud_functions/darwin/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/cloud_functions/example/android/app/src/main/AndroidManifest.xml
  packages/cloud_functions/cloud_functions/example/android/app/src/main/java/io/flutter/plugins/firebase/cloudfunctions/cloudfunctionsexample/EmbeddingV1Activity.java
  packages/cloud_functions/cloud_functions/example/android/app/src/main/java/io/flutter/plugins/firebase/cloudfunctions/cloudfunctionsexample/MainActivity.java
  packages/cloud_functions/cloud_functions/example/lib/main.dart
  packages/cloud_functions/cloud_functions/ios/cloud_functions.podspec
  packages/cloud_functions/cloud_functions/macos/cloud_functions.podspec
  packages/cloud_functions/cloud_functions/pubspec.yaml
Owners: none

tests(firebase_database): reuse ios build when running flutter drive
  .github/workflows/firebase_database.yaml
Owners: none

tests(firebase_database): reuse android build when running flutter drive
  .github/workflows/firebase_database.yaml
Owners: none

chore(firebase_database): depend on firebase_core pre-release
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/pubspec.yaml
Owners: @collinjackson, @kroikie

feat(firebase_database): use new iOS Firebase SDK versioning setup
  packages/firebase_database/ios/firebase_database.podspec
Owners: none

feat(firebase_database): allow iOS to be imported as a module
  packages/firebase_database/ios/firebase_database.podspec
Owners: none

refactor(firebase_database): use core FIRApp getter utility
  packages/firebase_database/ios/Classes/FLTFirebaseDatabasePlugin.m
Owners: none

refactor(firebase_database): don't initialize Firebase App instance
  packages/firebase_database/example/test_driver/firebase_database_e2e.dart
  packages/firebase_database/ios/Classes/FLTFirebaseDatabasePlugin.m
Owners: none

docs(firebase_database): add to sidebar & add overview page
  docs/database/overview.mdx
  docs/sidebars.js
Owners: none

feat(firebase_database): use new Android Firebase SDK versioning setup
  packages/firebase_database/android/build.gradle
Owners: none

refactor(firebase_database): update android plugin example to use v2 embedding
  packages/firebase_database/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_database/example/android/app/src/main/java/io/flutter/plugins/firebasedatabaseexample/EmbeddingV1Activity.java
  packages/firebase_database/example/android/app/src/main/java/io/flutter/plugins/firebasedatabaseexample/MainActivity.java
  packages/firebase_database/example/android/app/src/main/java/io/flutter/plugins/firebasedatabaseexample/MainActivityTest.java
Owners: none

feat(firebase_database): add support for MacOS
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/example/ios/.gitignore
  packages/firebase_database/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_database/ios/Classes/FLTFirebaseDatabasePlugin.h
  packages/firebase_database/ios/Classes/FLTFirebaseDatabasePlugin.m
  packages/firebase_database/macos/Assets/.gitkeep
  packages/firebase_database/macos/Classes/FLTFirebaseDatabasePlugin.h
  packages/firebase_database/macos/Classes/FLTFirebaseDatabasePlugin.m
  packages/firebase_database/macos/firebase_database.podspec
  packages/firebase_database/pubspec.yaml
Owners: @collinjackson, @kroikie

feat(firebase_database): add MacOS example
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/example/lib/main.dart
  packages/firebase_database/example/macos/.gitignore
  packages/firebase_database/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/firebase_database/example/macos/Flutter/Flutter-Release.xcconfig
  packages/firebase_database/example/macos/Runner.xcodeproj/project.pbxproj
  packages/firebase_database/example/macos/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/firebase_database/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_database/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/firebase_database/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/firebase_database/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_database/example/macos/Runner/AppDelegate.swift
  packages/firebase_database/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/firebase_database/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/firebase_database/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/firebase_database/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/firebase_database/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/firebase_database/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/firebase_database/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/firebase_database/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/firebase_database/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/firebase_database/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/firebase_database/example/macos/Runner/Configs/Debug.xcconfig
  packages/firebase_database/example/macos/Runner/Configs/Release.xcconfig
  packages/firebase_database/example/macos/Runner/Configs/Warnings.xcconfig
  packages/firebase_database/example/macos/Runner/DebugProfile.entitlements
  packages/firebase_database/example/macos/Runner/GoogleService-Info.plist
  packages/firebase_database/example/macos/Runner/Info.plist
  packages/firebase_database/example/macos/Runner/MainFlutterWindow.swift
  packages/firebase_database/example/macos/Runner/Release.entitlements
Owners: @collinjackson, @kroikie

tests(firebase_database): add MacOS build & e2e CI stages
  .github/workflows/firebase_database.yaml
Owners: none

Update user_info.dart (#3040)
  packages/firebase_auth/firebase_auth/lib/src/user_info.dart
Owners: none

chore(firebase_auth): fix formatting
  packages/firebase_auth/firebase_auth/lib/src/user_info.dart
Owners: none

chore(firebase_auth): remove unecessary override
  packages/firebase_auth/firebase_auth/lib/src/user_info.dart
Owners: none

chore(firebase_performance): migrate to depend on new `firebase_core` plugin (#3038)
  .github/workflows/firebase_performance.yaml
  .gitignore
  docs/performance/overview.mdx
  docs/sidebars.js
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/android/build.gradle
  packages/firebase_performance/example/android/app/src/androidTest/java/io/flutter/plugins/firebaseperformance/EmbeddingV1ActivityTest.java
  packages/firebase_performance/example/android/app/src/androidTest/java/io/flutter/plugins/firebaseperformance/MainActivityTest.java
  packages/firebase_performance/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_performance/example/android/app/src/main/java/io/flutter/plugins/firebaseperformanceexample/EmbeddingV1Activity.java
  packages/firebase_performance/example/android/app/src/main/java/io/flutter/plugins/firebaseperformanceexample/MainActivity.java
  packages/firebase_performance/example/android/build.gradle
  packages/firebase_performance/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_performance/example/ios/Runner/GoogleService-Info.plist
  packages/firebase_performance/example/test_driver/firebase_performance.dart
  packages/firebase_performance/example/test_driver/firebase_performance_e2e.dart
  packages/firebase_performance/example/test_driver/firebase_performance_e2e_test.dart
  packages/firebase_performance/example/test_driver/firebase_performance_test.dart
  packages/firebase_performance/ios/Classes/FLTFirebasePerformancePlugin.m
  packages/firebase_performance/ios/firebase_performance.podspec
  packages/firebase_performance/pubspec.yaml
Owners: @bparrishMines, @collinjackson

[cloud_functions] Fix callable parameter type support on Android (#2969)
  AUTHORS
  packages/cloud_functions/cloud_functions/CHANGELOG.md
  packages/cloud_functions/cloud_functions/android/src/main/java/io/flutter/plugins/firebase/cloudfunctions/CloudFunctionsPlugin.java
Owners: none

[firebase-auth] handles FIRAuthErrorCodeTooManyRequests on iOS (#2940)
  packages/firebase_auth/firebase_auth/darwin/Classes/FLTFirebaseAuthPlugin.m
Owners: none

chore: update e2e version & add CI scripts (#3047)
  .github/workflows/firebase_functions.yaml
  .github/workflows/scripts/build-example.sh
  .github/workflows/scripts/drive-example.sh
  .github/workflows/scripts/install-flutter.sh
  .github/workflows/scripts/install-tools.sh
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
  packages/cloud_functions/cloud_functions/example/pubspec.yaml
  packages/firebase_admob/example/pubspec.yaml
  packages/firebase_admob/pubspec.yaml
  packages/firebase_analytics/firebase_analytics/example/pubspec.yaml
  packages/firebase_analytics/firebase_analytics/pubspec.yaml
  packages/firebase_auth/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/firebase_auth/pubspec.yaml
  packages/firebase_core/firebase_core/example/pubspec.yaml
  packages/firebase_core/firebase_core/pubspec.yaml
  packages/firebase_crashlytics/example/pubspec.yaml
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_database/example/pubspec.yaml
  packages/firebase_database/pubspec.yaml
  packages/firebase_dynamic_links/example/pubspec.yaml
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_in_app_messaging/example/pubspec.yaml
  packages/firebase_in_app_messaging/pubspec.yaml
  packages/firebase_messaging/example/pubspec.yaml
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_ml_vision/example/pubspec.yaml
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_performance/example/pubspec.yaml
  packages/firebase_performance/pubspec.yaml
  packages/firebase_remote_config/example/pubspec.yaml
  packages/firebase_remote_config/pubspec.yaml
  packages/firebase_storage/example/pubspec.yaml
  packages/firebase_storage/pubspec.yaml
Owners: @amirh, @bparrishMines, @kroikie, @collinjackson

feat(firebase_analytics): migrate to depend on new `firebase_core` version (#3046)
  .github/workflows/firebase_analytics.yaml
  .github/workflows/scripts/build-example.sh
  .github/workflows/scripts/drive-example.sh
  docs/analytics/overview.mdx
  docs/firestore/overview.mdx
  docs/sidebars.js
  packages/firebase_analytics/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/firebase_analytics/android/build.gradle
  packages/firebase_analytics/firebase_analytics/example/android/app/google-services.json
  packages/firebase_analytics/firebase_analytics/example/android/app/src/androidTest/java/io/flutter/plugins/firebaseanalyticsexample/MainActivityTest.java
  packages/firebase_analytics/firebase_analytics/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_analytics/firebase_analytics/example/android/app/src/main/java/io/flutter/plugins/firebaseanalyticsexample/EmbeddingV1Activity.java
  packages/firebase_analytics/firebase_analytics/example/android/app/src/main/java/io/flutter/plugins/firebaseanalyticsexample/MainActivity.java
  packages/firebase_analytics/firebase_analytics/example/android/build.gradle
  packages/firebase_analytics/firebase_analytics/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_analytics/firebase_analytics/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_analytics/firebase_analytics/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/firebase_analytics/firebase_analytics/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_analytics/firebase_analytics/example/ios/Runner/GoogleService-Info.plist
  packages/firebase_analytics/firebase_analytics/example/lib/main.dart
  packages/firebase_analytics/firebase_analytics/example/test_driver/firebase_analytics.dart
  packages/firebase_analytics/firebase_analytics/example/test_driver/firebase_analytics_e2e.dart
  packages/firebase_analytics/firebase_analytics/example/test_driver/firebase_analytics_e2e_test.dart
  packages/firebase_analytics/firebase_analytics/example/test_driver/firebase_analytics_test.dart
  packages/firebase_analytics/firebase_analytics/example/web/index.html
  packages/firebase_analytics/firebase_analytics/ios/Classes/FLTFirebaseAnalyticsPlugin.m
  packages/firebase_analytics/firebase_analytics/ios/firebase_analytics.podspec
  packages/firebase_analytics/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/firebase_analytics/test/firebase_analytics_e2e.dart
Owners: none

docs(firebase_database): update platform support table
  README.md
Owners: none

tests(firebase_performance): update workflow to use new scripts
  .github/workflows/firebase_performance.yaml
Owners: none

tests(firebase_auth): update workflow to use new scripts
  .github/workflows/firebase_auth.yaml
Owners: none

tests: update drive script to remove no-build flag on macos
  .github/workflows/scripts/drive-example.sh
Owners: none

tests(firebase_core): update workflow to use new scripts
  .github/workflows/firebase_core.yaml
Owners: none

tests(firebase_database): update workflow to use new scripts
  .github/workflows/firebase_database.yaml
Owners: none

tests(firebase_storage): update workflow to use new scripts
  .github/workflows/firebase_storage.yaml
Owners: none

docs(firebase_storage): update platform support table
  README.md
  website/plugins.js
Owners: none

tests(cloud_firestore): update workflow to use new scripts
  .github/workflows/firebase_firestore.yaml
Owners: none

docs: add CI badges to readme
  README.md
Owners: none

docs(core): fix secondary apps Firestore example
  docs/core/usage.mdx
Owners: none

docs(cloud_firestore): fix settings examples
  docs/firestore/usage.mdx
Owners: none

chore(firebase_remote_config): depend on new `firebase_core` pre-release
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/example/pubspec.yaml
  packages/firebase_remote_config/pubspec.yaml
Owners: @collinjackson, @kroikie

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_in_app_messaging/* @collinjackson
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie
