Repository naturalspirit-dev/flutterfire, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @amirh, @bparrishMines

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_in_app_messaging/* @collinjackson
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie

feat(firebase_remote_config): use new iOS Firebase SDK versioning setup
  packages/firebase_remote_config/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_remote_config/ios/firebase_remote_config.podspec
Owners: none

feat(firebase_remote_config): allow iOS to be imported as a module
  packages/firebase_remote_config/ios/firebase_remote_config.podspec
Owners: none

refactor(firebase_remote_config): don't configure iOS FIRApp instance
  packages/firebase_remote_config/ios/Classes/FirebaseRemoteConfigPlugin.m
Owners: none

feat(firebase_remote_config): add support for MacOS
  README.md
  packages/firebase_remote_config/example/lib/main.dart
  packages/firebase_remote_config/ios/Classes/FirebaseRemoteConfigPlugin.h
  packages/firebase_remote_config/macos/Assets/.gitkeep
  packages/firebase_remote_config/macos/Classes/FirebaseRemoteConfigPlugin.h
  packages/firebase_remote_config/macos/Classes/FirebaseRemoteConfigPlugin.m
  packages/firebase_remote_config/macos/firebase_remote_config.podspec
  packages/firebase_remote_config/pubspec.yaml
  website/plugins.js
Owners: @collinjackson, @kroikie

chore(firebase_remote_config): add MacOS to example app
  packages/firebase_remote_config/example/macos/.gitignore
  packages/firebase_remote_config/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/firebase_remote_config/example/macos/Flutter/Flutter-Release.xcconfig
  packages/firebase_remote_config/example/macos/Runner.xcodeproj/project.pbxproj
  packages/firebase_remote_config/example/macos/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/firebase_remote_config/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_remote_config/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/firebase_remote_config/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/firebase_remote_config/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_remote_config/example/macos/Runner/AppDelegate.swift
  packages/firebase_remote_config/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/firebase_remote_config/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/firebase_remote_config/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/firebase_remote_config/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/firebase_remote_config/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/firebase_remote_config/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/firebase_remote_config/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/firebase_remote_config/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/firebase_remote_config/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/firebase_remote_config/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/firebase_remote_config/example/macos/Runner/Configs/Debug.xcconfig
  packages/firebase_remote_config/example/macos/Runner/Configs/Release.xcconfig
  packages/firebase_remote_config/example/macos/Runner/Configs/Warnings.xcconfig
  packages/firebase_remote_config/example/macos/Runner/DebugProfile.entitlements
  packages/firebase_remote_config/example/macos/Runner/GoogleService-Info.plist
  packages/firebase_remote_config/example/macos/Runner/Info.plist
  packages/firebase_remote_config/example/macos/Runner/MainFlutterWindow.swift
  packages/firebase_remote_config/example/macos/Runner/Release.entitlements
Owners: none

feat(firebase_remote_config): use new Android Firebase SDK versioning setup
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/android/build.gradle
  packages/firebase_storage/macos/Classes/FLTFirebaseStoragePlugin.h
Owners: @collinjackson, @kroikie

refactor(firebase_remote_config): update android plugin example to use v2 embedding
  packages/firebase_remote_config/android/build.gradle
  packages/firebase_remote_config/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_remote_config/example/android/app/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfigexample/EmbeddingV1Activity.java
  packages/firebase_remote_config/example/android/app/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfigexample/MainActivity.java
  packages/firebase_remote_config/example/android/app/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfigexample/MainActivityTest.java
Owners: none

docs(cloud_storage): remove empty usage page from sidebar
  docs/sidebars.js
  docs/storage/overview.mdx
Owners: none

docs(firebase_remote_config): add plugin summary page & sidebar link
  docs/remote-config/overview.mdx
  docs/sidebars.js
Owners: none

tests(firebase_remote_config): setup CI workflow
  .github/workflows/firebase_remote_config.yaml
Owners: none

refactor(firebase_remote_config): update e2e tests to use Core
  packages/firebase_remote_config/example/test_driver/firebase_remote_config_e2e.dart
  packages/firebase_remote_config/example/test_driver/firebase_remote_config_e2e_test.dart
Owners: none

docs(firebase_remote_config): add CI badge to readme
  README.md
Owners: none

tests(*): update remaining CI workflows to use scripts & add make certain jobs conditional
  .github/workflows/all_plugins.yaml
  .github/workflows/firebase_auth.yaml
  .github/workflows/firebase_database.yaml
  .github/workflows/firebase_firestore.yaml
  .github/workflows/firebase_functions.yaml
  .github/workflows/firebase_performance.yaml
  .github/workflows/firebase_storage.yaml
Owners: none

docs(website): hide unavailable plugins
  docs/versions.js
  website/plugins.js
Owners: none

docs(website): fix macos support flag using incorrect variable
  website/src/pages/index.tsx
Owners: none

chore(firebase_messaging): migrate to depend on new `firebase_core` plugin (#3071)
  .github/workflows/firebase_messaging.yaml
  docs/messaging/overview.mdx
  docs/sidebars.js
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/build.gradle
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/example/android/app/src/main/java/io/flutter/plugins/firebasemessagingexample/MainActivity.java
  packages/firebase_messaging/example/pubspec.yaml
  packages/firebase_messaging/example/test_driver/firebase_messaging_e2e.dart
  packages/firebase_messaging/example/test_driver/firebase_messaging_e2e_test.dart
  packages/firebase_messaging/example/test_driver/firebase_messaging_test.dart
  packages/firebase_messaging/ios/Classes/FLTFirebaseMessagingPlugin.m
  packages/firebase_messaging/ios/firebase_messaging.podspec
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_messaging/test/firebase_messaging_e2e.dart
Owners: @collinjackson, @kroikie

[firebase_auth] Update example in Auth to use new core (#3096)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/firebase_auth/pubspec.yaml
Owners: none

Add disclaimer (#3104)
  README.md
Owners: none

Update signin_page.dart (#3094)
  packages/firebase_auth/firebase_auth/example/lib/signin_page.dart
Owners: none

Use firebase hosting (#3107)
  .github/workflows/docs.yaml
  website/.firebaserc
  website/.gitignore
  website/firebase.json
Owners: none

Update android.mdx
  docs/installation/android.mdx
Owners: none

Fix docs workflow typo
  .github/workflows/docs.yaml
Owners: none

Make plugin workflows ignore docs
  .github/workflows/all_plugins.yaml
  .github/workflows/firebase_analytics.yaml
  .github/workflows/firebase_auth.yaml
  .github/workflows/firebase_core.yaml
  .github/workflows/firebase_database.yaml
  .github/workflows/firebase_firestore.yaml
  .github/workflows/firebase_functions.yaml
  .github/workflows/firebase_messaging.yaml
  .github/workflows/firebase_performance.yaml
  .github/workflows/firebase_remote_config.yaml
  .github/workflows/firebase_storage.yaml
Owners: none

Update iOS installations docs
  docs/installation/ios.mdx
Owners: none

Use correct paths-ignore path
  .github/workflows/all_plugins.yaml
  .github/workflows/firebase_analytics.yaml
  .github/workflows/firebase_auth.yaml
  .github/workflows/firebase_core.yaml
  .github/workflows/firebase_database.yaml
  .github/workflows/firebase_firestore.yaml
  .github/workflows/firebase_functions.yaml
  .github/workflows/firebase_messaging.yaml
  .github/workflows/firebase_performance.yaml
  .github/workflows/firebase_remote_config.yaml
  .github/workflows/firebase_storage.yaml
Owners: none

Update web installations docs
  docs/installation/web.mdx
Owners: none

use node 12 to build docs
  .github/workflows/docs.yaml
Owners: none

Update Android installations docs
  docs/installation/android.mdx
Owners: none

Fix docs workflow typo
  .github/workflows/docs.yaml
Owners: none

Update iOS installations docs
  docs/installation/ios.mdx
Owners: none

Update web installations docs
  docs/installation/web.mdx
Owners: none

fix links in docs
  docs/auth/usage.mdx
  docs/installation/ios.mdx
  website/docusaurus.config.js
Owners: none

update installations android docs
  docs/installation/android.mdx
Owners: none

[firebase_ml_vision] Text recognition in documents through DocumentTextRecognizer (#3093)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/DocumentTextRecognizer.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionHandler.java
  packages/firebase_ml_vision/example/lib/camera_preview_scanner.dart
  packages/firebase_ml_vision/example/lib/detector_painters.dart
  packages/firebase_ml_vision/example/lib/picture_scanner.dart
  packages/firebase_ml_vision/example/test_driver/document_text_recognizer.dart
  packages/firebase_ml_vision/example/test_driver/firebase_ml_vision.dart
  packages/firebase_ml_vision/ios/Classes/DocumentTextRecognizer.m
  packages/firebase_ml_vision/ios/Classes/FLTFirebaseMlVisionPlugin.h
  packages/firebase_ml_vision/ios/Classes/FLTFirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/lib/firebase_ml_vision.dart
  packages/firebase_ml_vision/lib/src/document_text_recognizer.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/document_text_recognizer_test.dart
Owners: @bparrishMines

update docs workflow
  .github/workflows/docs.yaml
Owners: none

update installations android docs
  docs/installation/android.mdx
Owners: none

use full path for docs artifacts
  .github/workflows/docs.yaml
Owners: none

update installations android docs
  docs/installation/android.mdx
Owners: none

update docs workflow to run deploy from website directory
  .github/workflows/docs.yaml
Owners: none

update installations android docs
  docs/installation/android.mdx
Owners: none
