Repository naturalspirit-dev/flutterfire, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @amirh, @bparrishMines

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_in_app_messaging/* @collinjackson
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie

[firebase_crashlytics] Add macOS support (#1988)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/darwin/Classes/FirebaseCrashlyticsPlugin.m
  packages/firebase_crashlytics/example/macos/.gitignore
  packages/firebase_crashlytics/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/firebase_crashlytics/example/macos/Flutter/Flutter-Release.xcconfig
  packages/firebase_crashlytics/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/firebase_crashlytics/example/macos/Runner.xcodeproj/project.pbxproj
  packages/firebase_crashlytics/example/macos/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/firebase_crashlytics/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_crashlytics/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/firebase_crashlytics/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/firebase_crashlytics/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_crashlytics/example/macos/Runner/AppDelegate.swift
  packages/firebase_crashlytics/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/firebase_crashlytics/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/firebase_crashlytics/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/firebase_crashlytics/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/firebase_crashlytics/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/firebase_crashlytics/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/firebase_crashlytics/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/firebase_crashlytics/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/firebase_crashlytics/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/firebase_crashlytics/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/firebase_crashlytics/example/macos/Runner/Configs/Debug.xcconfig
  packages/firebase_crashlytics/example/macos/Runner/Configs/Release.xcconfig
  packages/firebase_crashlytics/example/macos/Runner/Configs/Warnings.xcconfig
  packages/firebase_crashlytics/example/macos/Runner/DebugProfile.entitlements
  packages/firebase_crashlytics/example/macos/Runner/GoogleService-Info.plist
  packages/firebase_crashlytics/example/macos/Runner/Info.plist
  packages/firebase_crashlytics/example/macos/Runner/MainFlutterWindow.swift
  packages/firebase_crashlytics/example/macos/Runner/Release.entitlements
  packages/firebase_crashlytics/macos/.gitignore
  packages/firebase_crashlytics/macos/Assets/.gitkeep
  packages/firebase_crashlytics/macos/Classes/FirebaseCrashlyticsPlugin.h
  packages/firebase_crashlytics/macos/Classes/FirebaseCrashlyticsPlugin.m
  packages/firebase_crashlytics/macos/firebase_crashlytics.podspec
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

[cloud_functions] Add macOS support (#1707)
  packages/cloud_functions/cloud_functions/CHANGELOG.md
  packages/cloud_functions/cloud_functions/darwin/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/cloud_functions/example/macos/.gitignore
  packages/cloud_functions/cloud_functions/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/cloud_functions/cloud_functions/example/macos/Flutter/Flutter-Release.xcconfig
  packages/cloud_functions/cloud_functions/example/macos/Runner.xcodeproj/project.pbxproj
  packages/cloud_functions/cloud_functions/example/macos/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/cloud_functions/cloud_functions/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/cloud_functions/cloud_functions/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/cloud_functions/cloud_functions/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/cloud_functions/cloud_functions/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/cloud_functions/cloud_functions/example/macos/Runner/AppDelegate.swift
  packages/cloud_functions/cloud_functions/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/cloud_functions/cloud_functions/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/cloud_functions/cloud_functions/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/cloud_functions/cloud_functions/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/cloud_functions/cloud_functions/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/cloud_functions/cloud_functions/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/cloud_functions/cloud_functions/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/cloud_functions/cloud_functions/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/cloud_functions/cloud_functions/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/cloud_functions/cloud_functions/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/cloud_functions/cloud_functions/example/macos/Runner/Configs/Debug.xcconfig
  packages/cloud_functions/cloud_functions/example/macos/Runner/Configs/Release.xcconfig
  packages/cloud_functions/cloud_functions/example/macos/Runner/Configs/Warnings.xcconfig
  packages/cloud_functions/cloud_functions/example/macos/Runner/DebugProfile.entitlements
  packages/cloud_functions/cloud_functions/example/macos/Runner/GoogleService-Info.plist
  packages/cloud_functions/cloud_functions/example/macos/Runner/Info.plist
  packages/cloud_functions/cloud_functions/example/macos/Runner/MainFlutterWindow.swift
  packages/cloud_functions/cloud_functions/example/macos/Runner/Release.entitlements
  packages/cloud_functions/cloud_functions/example/pubspec.yaml
  packages/cloud_functions/cloud_functions/macos/Assets/.gitkeep
  packages/cloud_functions/cloud_functions/macos/Classes/CloudFunctionsPlugin.h
  packages/cloud_functions/cloud_functions/macos/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/cloud_functions/macos/cloud_functions.podspec
  packages/cloud_functions/cloud_functions/pubspec.yaml
Owners: none

[cloud_firestore] Do not assume all data is keyed by Strings. (#2008)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/cloud_firestore/lib/src/utils/codec_utility.dart
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

[cloud_firestore] Add macOS support (#1706)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/darwin/Classes/FLTCloudFirestorePlugin.m
  packages/cloud_firestore/cloud_firestore/example/macos/.gitignore
  packages/cloud_firestore/cloud_firestore/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/cloud_firestore/cloud_firestore/example/macos/Flutter/Flutter-Release.xcconfig
  packages/cloud_firestore/cloud_firestore/example/macos/Runner.xcodeproj/project.pbxproj
  packages/cloud_firestore/cloud_firestore/example/macos/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/cloud_firestore/cloud_firestore/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/cloud_firestore/cloud_firestore/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/cloud_firestore/cloud_firestore/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/cloud_firestore/cloud_firestore/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/AppDelegate.swift
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Configs/Debug.xcconfig
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Configs/Release.xcconfig
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Configs/Warnings.xcconfig
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/DebugProfile.entitlements
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/GoogleService-Info.plist
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Info.plist
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/MainFlutterWindow.swift
  packages/cloud_firestore/cloud_firestore/example/macos/Runner/Release.entitlements
  packages/cloud_firestore/cloud_firestore/example/pubspec.yaml
  packages/cloud_firestore/cloud_firestore/macos/Assets/.gitkeep
  packages/cloud_firestore/cloud_firestore/macos/Classes/FLTCloudFirestorePlugin.h
  packages/cloud_firestore/cloud_firestore/macos/Classes/FLTCloudFirestorePlugin.m
  packages/cloud_firestore/cloud_firestore/macos/cloud_firestore.podspec
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

[firebase_auth] Add macOS support (#1705)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/darwin/Classes/FLTFirebaseAuthPlugin.m
  packages/firebase_auth/firebase_auth/example/macos/.gitignore
  packages/firebase_auth/firebase_auth/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/firebase_auth/firebase_auth/example/macos/Flutter/Flutter-Release.xcconfig
  packages/firebase_auth/firebase_auth/example/macos/Runner.xcodeproj/project.pbxproj
  packages/firebase_auth/firebase_auth/example/macos/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/firebase_auth/firebase_auth/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_auth/firebase_auth/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/firebase_auth/firebase_auth/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/firebase_auth/firebase_auth/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_auth/firebase_auth/example/macos/Runner/AppDelegate.swift
  packages/firebase_auth/firebase_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/firebase_auth/firebase_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/firebase_auth/firebase_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/firebase_auth/firebase_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/firebase_auth/firebase_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/firebase_auth/firebase_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/firebase_auth/firebase_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/firebase_auth/firebase_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/firebase_auth/firebase_auth/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/firebase_auth/firebase_auth/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/firebase_auth/firebase_auth/example/macos/Runner/Configs/Debug.xcconfig
  packages/firebase_auth/firebase_auth/example/macos/Runner/Configs/Release.xcconfig
  packages/firebase_auth/firebase_auth/example/macos/Runner/Configs/Warnings.xcconfig
  packages/firebase_auth/firebase_auth/example/macos/Runner/DebugProfile.entitlements
  packages/firebase_auth/firebase_auth/example/macos/Runner/GoogleService-Info.plist
  packages/firebase_auth/firebase_auth/example/macos/Runner/Info.plist
  packages/firebase_auth/firebase_auth/example/macos/Runner/MainFlutterWindow.swift
  packages/firebase_auth/firebase_auth/example/macos/Runner/Release.entitlements
  packages/firebase_auth/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/firebase_auth/macos/Assets/.gitkeep
  packages/firebase_auth/firebase_auth/macos/Classes/FLTFirebaseAuthPlugin.h
  packages/firebase_auth/firebase_auth/macos/Classes/FLTFirebaseAuthPlugin.m
  packages/firebase_auth/firebase_auth/macos/firebase_auth.podspec
  packages/firebase_auth/firebase_auth/pubspec.yaml
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
Owners: none

[all] Add desktop availability to the README. (#2027)
  AUTHORS
  README.md
Owners: none

[firebase_admob] Parameters for rewarded video SSV Callbacks (#173)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/RewardedVideoAdWrapper.java
  packages/firebase_admob/ios/Classes/FLTFirebaseAdMobPlugin.m
  packages/firebase_admob/ios/Classes/FLTRewardedVideoAdWrapper.h
  packages/firebase_admob/ios/Classes/FLTRewardedVideoAdWrapper.m
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/pubspec.yaml
  packages/firebase_admob/test/firebase_admob_test.dart
Owners: @amirh, @bparrishMines

[firebase_ml_vision] Replace deprecated text theme fields in example app (#2034)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/example/lib/material_barcode_scanner.dart
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

[cloud_firestore] Adds equality comparison to FieldValue (part 1, platform interface) (#2060)
  packages/cloud_firestore/cloud_firestore_platform_interface/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/cloud_firestore_platform_interface.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/method_channel/method_channel_field_value.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/method_channel/method_channel_field_value_factory.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/platform_interface/field_value.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/platform_interface/field_value_factory.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/pubspec.yaml
  packages/cloud_firestore/cloud_firestore_platform_interface/test/method_channel_document_reference_test.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/test/method_channel_field_value_factory_test.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/test/test_firestore_message_codec.dart
Owners: none

[cloud_firestore] step 2 in landing FieldValue equality comparison (web) (#2062)
  packages/cloud_firestore/cloud_firestore_web/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_web/lib/src/field_value_factory_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/field_value_web.dart
  packages/cloud_firestore/cloud_firestore_web/pubspec.yaml
Owners: none

[cloud_firestore] step 3 in landing FieldValue equality comparison (app-facing) (#2063)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/cloud_firestore/lib/src/field_value.dart
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

[firebase_core_platform_interface] Migrate to plugin_platform_interface (#2065)
  packages/firebase_core/firebase_core_platform_interface/CHANGELOG.md
  packages/firebase_core/firebase_core_platform_interface/lib/firebase_core_platform_interface.dart
  packages/firebase_core/firebase_core_platform_interface/pubspec.yaml
  packages/firebase_core/firebase_core_platform_interface/test/firebase_core_platform_interface_test.dart
Owners: none

[firebase_core] Update to use new platform interface (#2078)
  packages/firebase_core/firebase_core/CHANGELOG.md
  packages/firebase_core/firebase_core/pubspec.yaml
  packages/firebase_core/firebase_core/test/firebase_core_test.dart
Owners: none

Use plugin_platform_interface (#2079)
  packages/firebase_auth/firebase_auth_platform_interface/CHANGELOG.md
  packages/firebase_auth/firebase_auth_platform_interface/lib/firebase_auth_platform_interface.dart
  packages/firebase_auth/firebase_auth_platform_interface/pubspec.yaml
  packages/firebase_auth/firebase_auth_platform_interface/test/firebase_auth_platform_interface_test.dart
Owners: none

[cloud_functions] Use correct method channel (#2051)
  packages/cloud_functions/cloud_functions/CHANGELOG.md
  packages/cloud_functions/cloud_functions/darwin/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/cloud_functions/pubspec.yaml
Owners: none

[firebase_auth] Update platform interface version to 1.1.7 (#2080)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/pubspec.yaml
  packages/firebase_auth/firebase_auth/test/firebase_auth_test.dart
Owners: none

Replace deprecated getFlutterEngine calls on Android (#2050)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
  packages/firebase_admob/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/src/main/java/io/flutter/plugins/firebase/database/FirebaseDatabasePlugin.java
  packages/firebase_database/pubspec.yaml
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_in_app_messaging/CHANGELOG.md
  packages/firebase_in_app_messaging/android/src/main/java/com/example/firebase_in_app_messaging/FirebaseInAppMessagingPlugin.java
  packages/firebase_in_app_messaging/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FirebasePerformancePlugin.java
  packages/firebase_performance/pubspec.yaml
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/android/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfig/FirebaseRemoteConfigPlugin.java
  packages/firebase_remote_config/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/pubspec.yaml
Owners: @amirh, @bparrishMines, @collinjackson, @kroikie

[firebase_admob] Native ads (#169)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/README.md
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/MobileAd.java
  packages/firebase_admob/example/android/app/src/main/java/io/flutter/plugins/firebaseadmobexample/EmbeddingV1Activity.java
  packages/firebase_admob/example/android/app/src/main/java/io/flutter/plugins/firebaseadmobexample/MainActivity.java
  packages/firebase_admob/example/android/app/src/main/java/io/flutter/plugins/firebaseadmobexample/NativeAdFactoryExample.java
  packages/firebase_admob/example/android/app/src/main/res/layout/my_native_ad.xml
  packages/firebase_admob/example/android/build.gradle
  packages/firebase_admob/example/android/gradle.properties
  packages/firebase_admob/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_admob/example/lib/main.dart
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/pubspec.yaml
  packages/firebase_admob/test/firebase_admob_e2e.dart
Owners: @amirh, @bparrishMines

[cloud_firestore, cloud_firestore_web] Fix encoding issues in DocumentSnapshotPlatform and FieldValueFactoryWeb (#2105)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/example/run-tests-web
  packages/cloud_firestore/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/cloud_firestore/lib/src/utils/platform_utils.dart
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/cloud_firestore_web/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_web/lib/src/field_value_factory_web.dart
  packages/cloud_firestore/cloud_firestore_web/pubspec.yaml
Owners: none

[firebase_crashlytics] Remove WorkspaceSettings.xcsettings (#2152)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

[Firebase-Admob]Added note about GoogleService-list.plist (#2125)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/README.md
  packages/firebase_admob/pubspec.yaml
Owners: @amirh, @bparrishMines

Fix firebase <-> firestore typo in platform_interface README (#1997)
  packages/cloud_firestore/cloud_firestore_platform_interface/README.md
Owners: none

[firebase_admob] Support Native Ads on iOS (#2106)
  packages/firebase_admob/README.md
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
  packages/firebase_admob/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_admob/example/ios/Runner/AppDelegate.m
  packages/firebase_admob/example/ios/Runner/UnifiedNativeAdView.xib
  packages/firebase_admob/example/lib/main.dart
  packages/firebase_admob/ios/Classes/FLTFirebaseAdMobPlugin.h
  packages/firebase_admob/ios/Classes/FLTFirebaseAdMobPlugin.m
  packages/firebase_admob/ios/Classes/FLTMobileAd.h
  packages/firebase_admob/ios/Classes/FLTMobileAd.m
  packages/firebase_admob/lib/firebase_admob.dart
Owners: @amirh, @bparrishMines

Bump admob version for iOS Native Ads (#2192)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/pubspec.yaml
Owners: @amirh, @bparrishMines

Update project.json (#2189)
  .opensource/project.json
Owners: none

[firebase_messaging] Enable compatibility with other notification plugins (#1829)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/ios/Classes/FLTFirebaseMessagingPlugin.m
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[cloud_firestore_web] Ensure Query pagination methods encode values. (#2166)
  packages/cloud_firestore/cloud_firestore_platform_interface/test/method_channel_cloud_firestore_test.dart
  packages/cloud_firestore/cloud_firestore_web/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_web/lib/src/query_web.dart
  packages/cloud_firestore/cloud_firestore_web/pubspec.yaml
  packages/cloud_firestore/cloud_firestore_web/test/query_web_test.dart
Owners: none

[cloud_firestore_platform_interface] Fix three-way merge in test file. (#2209)
  packages/cloud_firestore/cloud_firestore_platform_interface/test/method_channel_cloud_firestore_test.dart
Owners: none

[firebase_admob] Deleted a line from README.md about not supporting native ads (#2217)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/README.md
  packages/firebase_admob/pubspec.yaml
Owners: @amirh, @bparrishMines

[all] Remove remaining UserAgent.h script from podspecs (#2229)
  packages/firebase_analytics/firebase_analytics/.gitignore
  packages/firebase_analytics/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/firebase_analytics/ios/Classes/FLTFirebaseAnalyticsPlugin.m
  packages/firebase_analytics/firebase_analytics/ios/firebase_analytics.podspec
  packages/firebase_analytics/firebase_analytics/pubspec.yaml
  packages/firebase_database/.gitignore
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/ios/Classes/FLTFirebaseDatabasePlugin.m
  packages/firebase_database/ios/firebase_database.podspec
  packages/firebase_database/pubspec.yaml
  packages/firebase_dynamic_links/.gitignore
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/ios/Classes/FLTFirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/ios/firebase_dynamic_links.podspec
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_messaging/.gitignore
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/Classes/FLTFirebaseMessagingPlugin.m
  packages/firebase_messaging/ios/firebase_messaging.podspec
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_ml_vision/.gitignore
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/FLTFirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/ios/firebase_ml_vision.podspec
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_performance/.gitignore
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/ios/Classes/FLTFirebasePerformancePlugin.m
  packages/firebase_performance/ios/firebase_performance.podspec
  packages/firebase_performance/pubspec.yaml
  packages/firebase_remote_config/.gitignore
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/ios/Classes/FirebaseRemoteConfigPlugin.m
  packages/firebase_remote_config/ios/firebase_remote_config.podspec
  packages/firebase_remote_config/pubspec.yaml
  packages/firebase_storage/.gitignore
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/ios/Classes/FLTFirebaseStoragePlugin.m
  packages/firebase_storage/ios/firebase_storage.podspec
  packages/firebase_storage/pubspec.yaml
Owners: @collinjackson, @kroikie, @bparrishMines

[firebase_storage] Add macOS support (#2102)
  README.md
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/darwin/Classes/FLTFirebaseStoragePlugin.m
  packages/firebase_storage/example/lib/main.dart
  packages/firebase_storage/example/macos/.gitignore
  packages/firebase_storage/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/firebase_storage/example/macos/Flutter/Flutter-Release.xcconfig
  packages/firebase_storage/example/macos/Runner.xcodeproj/project.pbxproj
  packages/firebase_storage/example/macos/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/firebase_storage/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_storage/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/firebase_storage/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/firebase_storage/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_storage/example/macos/Runner/AppDelegate.swift
  packages/firebase_storage/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/firebase_storage/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/firebase_storage/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/firebase_storage/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/firebase_storage/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/firebase_storage/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/firebase_storage/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/firebase_storage/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/firebase_storage/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/firebase_storage/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/firebase_storage/example/macos/Runner/Configs/Debug.xcconfig
  packages/firebase_storage/example/macos/Runner/Configs/Release.xcconfig
  packages/firebase_storage/example/macos/Runner/Configs/Warnings.xcconfig
  packages/firebase_storage/example/macos/Runner/DebugProfile.entitlements
  packages/firebase_storage/example/macos/Runner/GoogleService-Info.plist
  packages/firebase_storage/example/macos/Runner/Info.plist
  packages/firebase_storage/example/macos/Runner/MainFlutterWindow.swift
  packages/firebase_storage/example/macos/Runner/Release.entitlements
  packages/firebase_storage/example/pubspec.yaml
  packages/firebase_storage/macos/Assets/.gitkeep
  packages/firebase_storage/macos/Classes/FLTFirebaseStoragePlugin.h
  packages/firebase_storage/macos/Classes/FLTFirebaseStoragePlugin.m
  packages/firebase_storage/macos/firebase_storage.podspec
  packages/firebase_storage/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_auth] Migrate to Android v2 embedder. (#2275)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/firebase_auth/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_auth/firebase_auth/example/android/app/src/main/java/io/flutter/plugins/firebaseauthexample/EmbeddingV1Activity.java
  packages/firebase_auth/firebase_auth/example/android/app/src/main/java/io/flutter/plugins/firebaseauthexample/EmbeddingV1ActivityTest.java
  packages/firebase_auth/firebase_auth/example/android/app/src/main/java/io/flutter/plugins/firebaseauthexample/FlutterActivityTest.java
  packages/firebase_auth/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/firebase_auth/example/test/firebase_auth_test.dart
  packages/firebase_auth/firebase_auth/example/test_driver/firebase_auth_e2e.dart
  packages/firebase_auth/firebase_auth/example/test_driver/firebase_auth_e2e_test.dart
  packages/firebase_auth/firebase_auth/pubspec.yaml
Owners: none

Migrate cloud_firestore to android v2 embedding. (#2269)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/cloud_firestore/example/android/app/build.gradle
  packages/cloud_firestore/cloud_firestore/example/android/app/src/androidTest/java/io/flutter/plugins/firebase/firestoreexample/EmbeddingV1ActivityTest.java
  packages/cloud_firestore/cloud_firestore/example/android/app/src/androidTest/java/io/flutter/plugins/firebase/firestoreexample/FlutterActivityTest.java
  packages/cloud_firestore/cloud_firestore/example/android/app/src/main/AndroidManifest.xml
  packages/cloud_firestore/cloud_firestore/example/android/app/src/main/java/io/flutter/plugins/firebase/firestoreexample/EmbeddingV1Activity.java
  packages/cloud_firestore/cloud_firestore/example/android/app/src/main/java/io/flutter/plugins/firebase/firestoreexample/MainActivity.java
  packages/cloud_firestore/cloud_firestore/example/android/app/src/main/java/io/flutter/plugins/firebasedatabaseexample/EmbeddingV1Activity.java
  packages/cloud_firestore/cloud_firestore/example/android/app/src/main/java/io/flutter/plugins/firebasedatabaseexample/MainActivity.java
  packages/cloud_firestore/cloud_firestore/example/pubspec.yaml
  packages/cloud_firestore/cloud_firestore/example/test_driver/cloud_firestore_e2e.dart
  packages/cloud_firestore/cloud_firestore/example/test_driver/cloud_firestore_e2e_test.dart
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

[firebase_admob] Use instance variables when loading ads (#2382)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/ios/Classes/FLTMobileAd.m
  packages/firebase_admob/ios/Classes/FLTRequestFactory.m
  packages/firebase_admob/ios/Classes/FLTRewardedVideoAdWrapper.h
  packages/firebase_admob/ios/Classes/FLTRewardedVideoAdWrapper.m
  packages/firebase_admob/pubspec.yaml
  packages/firebase_admob/test/firebase_admob_e2e.dart
Owners: @amirh, @bparrishMines

Add flutter doctor command to bug template
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

[firebase_admob] Provide a default MobileAdTargetingInfo for RewardedVideoAd.load() (#2245)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_admob/example/test_driver/firebase_admob.dart
  packages/firebase_admob/example/test_driver/firebase_admob_test.dart
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/pubspec.yaml
Owners: @amirh, @bparrishMines

fix(database): fix #81 - setPersistenceCacheSizeBytes call on Android
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/src/main/java/io/flutter/plugins/firebase/database/MethodCallHandlerImpl.java
  packages/firebase_database/example/test_driver/firebase_database_e2e.dart
  packages/firebase_database/pubspec.yaml
Owners: @collinjackson, @kroikie

[cloud_firestore_platform_interface] Fix CHANGELOG titles. (#1948)
  packages/cloud_firestore/cloud_firestore_platform_interface/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_platform_interface/README.md
  packages/cloud_firestore/cloud_firestore_platform_interface/pubspec.yaml
Owners: none

[RTDB] [Sample App] Added a delete option to items in the RTDB sample (#2411)
  packages/firebase_database/example/lib/main.dart
Owners: none

use the catalina xcode 11.3.1 osx_instance on CI (#2509)
  .cirrus.yml
Owners: none
