Repository naturalspirit-dev/flutterfire, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @amirh, @bparrishMines

Remove unused CI bits (#2948)
  .ci/Dockerfile
  .cirrus.yml
  script/build_all_plugins_app.sh
  script/check_publish.sh
  script/common.sh
  script/incremental_build.sh
  script/lint_darwin_plugins.sh
Owners: none

tests(cloud_firestore): add unique query test path (#2947)
  packages/cloud_firestore/cloud_firestore/example/test_driver/query_e2e.dart
Owners: none

tests(cloud_firestore): add unique query test path (2) (#2952)
  packages/cloud_firestore/cloud_firestore/example/test_driver/query_e2e.dart
Owners: none

chore: migrate functions to use new core plugin (#2951)
  packages/cloud_functions/cloud_functions/CHANGELOG.md
  packages/cloud_functions/cloud_functions/pubspec.yaml
  packages/cloud_functions/cloud_functions_platform_interface/CHANGELOG.md
  packages/cloud_functions/cloud_functions_platform_interface/pubspec.yaml
  packages/cloud_functions/cloud_functions_web/CHANGELOG.md
  packages/cloud_functions/cloud_functions_web/pubspec.yaml
Owners: none

fix(firestore): collection and document equality checking (#2931)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/platform_interface/platform_interface_collection_reference.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/test/platform_interface_tests/platform_interface_collection_reference_test.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/test/platform_interface_tests/platform_interface_document_reference_test.dart
Owners: none

docs: use latest plugin versions (#2959)
  docs/auth/social.mdx
  docs/firestore/overview.mdx
  docs/firestore/usage.mdx
  docs/versions.js
  website/api.js
  website/docusaurus-plugins/source-api-reference.js
  website/docusaurus-plugins/source-versions.js
  website/docusaurus.config.js
  website/src/theme/MDXComponents/index.tsx
Owners: none

docs(cloud_firestore): update changelog (#2961)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
Owners: none

docs: fix readme typos (#2962)
  README.md
  packages/cloud_firestore/cloud_firestore/README.md
  packages/cloud_functions/cloud_functions/README.md
  packages/firebase_admob/README.md
  packages/firebase_analytics/firebase_analytics/README.md
  packages/firebase_auth/firebase_auth/README.md
  packages/firebase_core/firebase_core/README.md
  packages/firebase_crashlytics/README.md
  packages/firebase_database/README.md
  packages/firebase_dynamic_links/README.md
  packages/firebase_in_app_messaging/README.md
  packages/firebase_messaging/README.md
  packages/firebase_ml_vision/README.md
  packages/firebase_performance/README.md
  packages/firebase_remote_config/README.md
  packages/firebase_storage/README.md
Owners: @amirh, @bparrishMines, @kroikie, @collinjackson

feat(cloud_firestore): allow iOS & macOS to be imported as a module (#2966)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/ios/cloud_firestore.podspec
  packages/cloud_firestore/cloud_firestore/macos/cloud_firestore.podspec
Owners: none

feat(firebase_core): allow iOS/macOS to be imported as a module (#2967)
  packages/firebase_core/firebase_core/CHANGELOG.md
  packages/firebase_core/firebase_core/ios/firebase_core.podspec
  packages/firebase_core/firebase_core/macos/firebase_core.podspec
  packages/firebase_core/firebase_core/pubspec.yaml
Owners: none

chore: depend on firebase_core pre-release
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/pubspec.yaml
Owners: @collinjackson, @kroikie

feat: use new iOS Firebase SDK versioning setup
  packages/firebase_storage/ios/firebase_storage.podspec
Owners: none

feat: use new MacOS Firebase SDK versioning setup
  packages/firebase_storage/ios/firebase_storage.podspec
  packages/firebase_storage/macos/firebase_storage.podspec
Owners: none

feat(firebase_storage): allow iOS/macOS to be imported as a module
  packages/firebase_storage/ios/firebase_storage.podspec
  packages/firebase_storage/macos/firebase_storage.podspec
Owners: none

feat: use new Android Firebase SDK versioning setup
  packages/firebase_storage/android/build.gradle
  packages/firebase_storage/example/android/build.gradle
Owners: none

refactor: update plugin example to use v2 embedding
  packages/firebase_storage/example/android/app/src/androidTest/java/io/flutter/plugins/firebasestorageexample/MainActivityTest.java
  packages/firebase_storage/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_storage/example/android/app/src/main/java/io/flutter/plugins/firebasestorageexample/EmbeddingV1Activity.java
  packages/firebase_storage/example/android/app/src/main/java/io/flutter/plugins/firebasestorageexample/MainActivity.java
  packages/firebase_storage/pubspec.yaml
Owners: @collinjackson, @kroikie

refactor: use core FIRApp getter utility
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/darwin/Classes/FLTFirebaseStoragePlugin.m
Owners: none

docs(firebase_storage): changelog for 4.0.0-dev.1
  packages/firebase_storage/CHANGELOG.md
Owners: @collinjackson, @kroikie

chore: typo
  packages/firebase_storage/darwin/Classes/FLTFirebaseStoragePlugin.m
Owners: none

fix: iOS & MacOS not correctly sharing code (duplicate copies of .m file)
  packages/firebase_storage/darwin/Classes/FLTFirebaseStoragePlugin.m
  packages/firebase_storage/ios/Classes/FLTFirebaseStoragePlugin.h
  packages/firebase_storage/ios/Classes/FLTFirebaseStoragePlugin.m
  packages/firebase_storage/macos/Classes/FLTFirebaseStoragePlugin.m
Owners: none

chore(firebase_storage): update CI workflow to include MacOS
  .github/workflows/firebase_storage.yaml
Owners: none

chore(cloud_firestore): remove analysis_options and fix warnings (#2984)
  packages/cloud_firestore/cloud_firestore/analysis_options.yaml
  packages/cloud_firestore/cloud_firestore/example/lib/main.dart
  packages/cloud_firestore/cloud_firestore/example/run-tests-web
  packages/cloud_firestore/cloud_firestore/example/test_driver/document_change_e2e.dart
  packages/cloud_firestore/cloud_firestore/example/test_driver/document_reference_e2e.dart
  packages/cloud_firestore/cloud_firestore/example/test_driver/instance_e2e.dart
  packages/cloud_firestore/cloud_firestore/example/test_driver/query_e2e.dart
  packages/cloud_firestore/cloud_firestore/lib/src/collection_reference.dart
  packages/cloud_firestore/cloud_firestore/lib/src/document_change.dart
  packages/cloud_firestore/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/cloud_firestore/lib/src/document_snapshot.dart
  packages/cloud_firestore/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/cloud_firestore/lib/src/query_snapshot.dart
  packages/cloud_firestore/cloud_firestore/lib/src/write_batch.dart
Owners: none

fix(cloud_firestore): throw FirebaseException on web errors (#2958)
  packages/cloud_firestore/cloud_firestore/example/test_driver/document_reference_e2e.dart
  packages/cloud_firestore/cloud_firestore/example/test_driver/query_e2e.dart
  packages/cloud_firestore/cloud_firestore_web/lib/cloud_firestore_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/document_reference_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/query_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/transaction_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/utils/exception.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/write_batch_web.dart
Owners: none

ci: update storage workflow
  .github/workflows/firebase_storage.yaml
Owners: none

docs: add initial storage overview page
  docs/sidebars.js
  docs/storage/overview.mdx
  docs/storage/usage.mdx
Owners: none

docs: add storage overview sidebar link
  docs/sidebars.js
Owners: none

tests(firebase_storage): call initializeApp
  packages/firebase_storage/example/test_driver/firebase_storage.dart
Owners: none

chore(deps): bump lodash from 4.17.15 to 4.17.19 in /website (#2997)
  website/yarn.lock
Owners: none

fix(dynamic_links): Fix for passing empty deep-link (#2964)
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/lib/src/firebase_dynamic_links.dart
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_dynamic_links/test/firebase_dynamic_links_test.dart
Owners: @bparrishMines

tests(firebase_storage): use e2e
  .github/workflows/firebase_storage.yaml
  packages/firebase_storage/example/test_driver/firebase_storage.dart
  packages/firebase_storage/example/test_driver/firebase_storage_e2e.dart
  packages/firebase_storage/example/test_driver/firebase_storage_e2e_test.dart
  packages/firebase_storage/example/test_driver/firebase_storage_test.dart
Owners: none

refactor(firebase_storage): remove call to initializeApp
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
Owners: none

tests(cloud_storage): remove http get request check
  packages/firebase_storage/example/test_driver/firebase_storage_e2e.dart
Owners: none

tests(cloud_firestore): setup Firestore emulator (#3001)
  .github/workflows/firebase_firestore.yaml
  .github/workflows/scripts/.firebaserc
  .github/workflows/scripts/firebase.json
  .github/workflows/scripts/firestore.rules
  .github/workflows/scripts/reset-firestore-emulator.sh
  .github/workflows/scripts/start-firestore-emulator.sh
  .gitignore
  packages/cloud_firestore/cloud_firestore/example/firebase.json
  packages/cloud_firestore/cloud_firestore/example/test_driver/cloud_firestore_e2e.dart
  packages/cloud_firestore/cloud_firestore/example/test_driver/query_e2e.dart
  packages/cloud_firestore/cloud_firestore/example/test_driver/transaction_e2e.dart
Owners: none

chore(firebase_auth): migrate to depend on new `firebase_core` plugin
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/pubspec.yaml
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
Owners: none

feat: use new iOS Firebase SDK versioning setup
  packages/firebase_auth/firebase_auth/ios/firebase_auth.podspec
Owners: none

feat: use new MacOS Firebase SDK versioning setup
  packages/firebase_auth/firebase_auth/macos/firebase_auth.podspec
Owners: none

feat(firebase_auth): allow iOS/macOS to be imported as a module
  packages/firebase_auth/firebase_auth/ios/firebase_auth.podspec
  packages/firebase_auth/firebase_auth/macos/firebase_auth.podspec
Owners: none

feat: use new Android Firebase SDK versioning setup
  packages/firebase_auth/firebase_auth/android/build.gradle
  packages/firebase_auth/firebase_auth/example/android/build.gradle
Owners: none

refactor(firebase_auth): remove Firebase app initialization
  packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/firebase_auth/darwin/Classes/FLTFirebaseAuthPlugin.m
Owners: none

refactor(firebase_auth): use core FIRApp getter utility
  packages/firebase_auth/firebase_auth/darwin/Classes/FLTFirebaseAuthPlugin.m
Owners: none

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_in_app_messaging/* @collinjackson
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie
