Repository naturalspirit-dev/flutterfire, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @amirh, @bparrishMines

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_in_app_messaging/* @collinjackson
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie

chore(storage): promote to stable version
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/pubspec.yaml
Owners: @collinjackson, @kroikie

Replace forbidden branch name chars (#3208)
  docs-preview/action.min.js
Owners: none

fix: documentation changes and google auth provider assert (#3216)
  docs/auth/error-handling.mdx
  docs/auth/phone.mdx
  docs/auth/social.mdx
  docs/auth/usage.mdx
  docs/core/usage.mdx
  docs/firestore/usage.mdx
  docs/migration-guide.mdx
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/providers/google_auth.dart
  packages/firebase_auth/firebase_auth_platform_interface/test/providers_tests/google_auth_test.dart
Owners: none

fix(auth,android): unknown error codes (#3217)
  packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebase/auth/FlutterFirebaseAuthPlugin.java
  packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebase/auth/FlutterFirebaseAuthPluginException.java
Owners: none

fix(cloud_firestore): add FieldPathType check & tests (#3214)
  packages/cloud_firestore/cloud_firestore/example/test_driver/query_e2e.dart
  packages/cloud_firestore/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/query_web.dart
Owners: none

docs: fix broken link (#3233)
  website/src/pages/index.tsx
Owners: none

fix(fiam): podspec missing variable (#3234)
  packages/firebase_in_app_messaging/ios/firebase_in_app_messaging.podspec
Owners: none

docs: updated file path (#3230)
  docs/auth/usage.mdx
  docs/firestore/usage.mdx
Owners: none

fix(cloud_firestore): encode "where" query values (#3247)
  packages/cloud_firestore/cloud_firestore/example/test_driver/query_e2e.dart
  packages/cloud_firestore/cloud_firestore/lib/src/document_snapshot.dart
  packages/cloud_firestore/cloud_firestore/lib/src/query.dart
Owners: none

docs: social auth docs fixes (#3248)
  docs/auth/social.mdx
Owners: none

fix(cloud_firestore): prevent snapshot race conditions (#3251)
  packages/cloud_firestore/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/firestore/FlutterFirebaseFirestorePlugin.java
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/method_channel/method_channel_document_reference.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/method_channel/method_channel_query.dart
Owners: none

docs: improve links readbility in darkmode
  website/src/styles.scss
Owners: none

docs: fix top menu links broken in an earlier commit
  website/docusaurus.config.js
Owners: none

refactor: move docs-preview action
  .github/docs-preview/action.min.js
  .github/docs-preview/action.yaml
  .github/workflows/docs_preview.yaml
Owners: none

docs: add keyword syntax highlighting
  website/src/styles.scss
Owners: none

docs: add updating other plugins step to migration guide
  docs/migration-guide.mdx
Owners: none

chore: firebase_auth_platform_interface v2.0.1
  packages/firebase_auth/firebase_auth_platform_interface/CHANGELOG.md
  packages/firebase_auth/firebase_auth_platform_interface/pubspec.yaml
Owners: none

fix(auth): add missing auth deprecations (#3257)
  packages/firebase_auth/firebase_auth/lib/src/user.dart
Owners: none

chore: firebase_auth_web v0.3.0+1
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
Owners: none

chore: firebase_auth v0.18.0+1
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/pubspec.yaml
Owners: none

chore: cloud_firestore_platform_interface v2.0.1
  packages/cloud_firestore/cloud_firestore_platform_interface/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_platform_interface/pubspec.yaml
Owners: none

chore: cloud_firestore_web v0.3.0+1
  packages/cloud_firestore/cloud_firestore_web/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_web/pubspec.yaml
Owners: none

chore: cloud_firestore v0.14.0+1
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

chore: firebase_in_app_messaging v0.2.0+1
  packages/firebase_in_app_messaging/CHANGELOG.md
  packages/firebase_in_app_messaging/pubspec.yaml
Owners: @collinjackson

chore: firebase_dynamic_links v0.6.0
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/pubspec.yaml
Owners: @bparrishMines

docs: add badges for Pub Points from pub.dev (#3246)
  README.md
Owners: none

docs: added the missing catch for error handling (#3265)
  docs/firestore/usage.mdx
Owners: none

fix(firestore): add missing deprecated static methods (#3278)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

docs: add migration guide link on overview page
  docs/overview.mdx
Owners: none

docs(auth): rename user to userCredential in examples
  docs/auth/usage.mdx
Owners: none

Add Google Analytics to Docs (#3322)
  website/docusaurus.config.js
Owners: none

chore: intellij cleanup (#3326)
  melos.yaml
  packages/firebase_admob/example/android.iml
  packages/firebase_admob/example/firebase_admob_example.iml
  packages/firebase_admob/example/firebase_admob_example_android.iml
  packages/firebase_admob/firebase_admob_android.iml
  packages/firebase_analytics/firebase_analytics/example/android.iml
  packages/firebase_analytics/firebase_analytics/example/firebase_analytics_example.iml
  packages/firebase_core/firebase_core/firebase_core_android.iml
  packages/firebase_database/example/android.iml
  packages/firebase_database/example/firebase_database_example.iml
  packages/firebase_dynamic_links/example/firebase_dynamic_links_example.iml
  packages/firebase_dynamic_links/example/firebase_dynamic_links_example_android.iml
  packages/firebase_dynamic_links/firebase_dynamic_links_android.iml
  packages/firebase_messaging/android/android.iml
  packages/firebase_messaging/android/firebase_messaging.iml
  packages/firebase_messaging/example/android.iml
  packages/firebase_messaging/example/example.iml
  packages/firebase_messaging/example/firebase_messaging_example.iml
  packages/firebase_performance/example/firebase_performance_example.iml
  packages/firebase_performance/example/firebase_performance_example_android.iml
  packages/firebase_performance/firebase_performance_android.iml
  packages/firebase_remote_config/example/android.iml
  packages/firebase_remote_config/example/firebase_remote_config_example.iml
  packages/firebase_remote_config/example/firebase_remote_config_example_android.iml
  packages/firebase_remote_config/firebase_remote_config_android.iml
  packages/firebase_storage/example/android.iml
  packages/firebase_storage/example/firebase_storage_example.iml
Owners: @amirh, @bparrishMines, @collinjackson, @kroikie

Try gtag for docs analytics (#3330)
  website/docusaurus.config.js
Owners: none

docs: corrected bad iOS pod version for Firebase SDK. Related to #3328. (#3333)
  docs/overview.mdx
Owners: none

docs: mention non-specific method exception codes (#3317)
  docs/auth/error-handling.mdx
Owners: none

fix(ios,auth): use correct FIRAuth instance on listeners (#3316)
  packages/firebase_auth/firebase_auth/ios/Classes/FLTFirebaseAuthPlugin.m
Owners: none

fix(auth): send userPlatform on changes (#3313)
  packages/firebase_auth/firebase_auth_web/lib/firebase_auth_web.dart
Owners: none

chore: update issue template
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---documentation-feedback.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-feedback.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

chore: remove old issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

chore: remove old issue template
  .github/ISSUE_TEMPLATE/documentation-feedback.md
Owners: none
