Repository naturalspirit-dev/flutterfire, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @amirh, @bparrishMines

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_in_app_messaging/* @collinjackson
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie

[firebase_core][firebase_analytics] Fix bug with transitive lifecycle dependencies (#1323)
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/android/build.gradle
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_crashlytics] Always log crash details in debug mode (#105)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

[firebase_performance] support v2 android embedding (#266)
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/android/build.gradle
  packages/firebase_performance/android/gradle.properties
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FirebasePerformancePlugin.java
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FlutterFirebasePerformance.java
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FlutterHttpMetric.java
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FlutterTrace.java
  packages/firebase_performance/example/android/app/build.gradle
  packages/firebase_performance/example/android/app/src/androidTest/java/io/flutter/plugins/firebaseperformance/EmbeddingV1ActivityTest.java
  packages/firebase_performance/example/android/app/src/androidTest/java/io/flutter/plugins/firebaseperformance/MainActivityTest.java
  packages/firebase_performance/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_performance/example/android/app/src/main/java/io/flutter/plugins/firebaseperformanceexample/EmbeddingV1Activity.java
  packages/firebase_performance/example/android/app/src/main/java/io/flutter/plugins/firebaseperformanceexample/MainActivity.java
  packages/firebase_performance/example/android/gradle.properties
  packages/firebase_performance/example/pubspec.yaml
  packages/firebase_performance/pubspec.yaml
  packages/firebase_performance/test/firebase_performance_e2e.dart
Owners: @bparrishMines, @collinjackson

[firebase_ml_vision] v2 embedding API (#275)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/android/gradle.properties
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionHandler.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/TextRecognizer.java
  packages/firebase_ml_vision/example/android/app/build.gradle
  packages/firebase_ml_vision/example/android/app/src/androidTest/java/io/flutter/plugins/firebasemlvision/EmbeddingV1ActivityTest.java
  packages/firebase_ml_vision/example/android/app/src/androidTest/java/io/flutter/plugins/firebasemlvision/MainActivityTest.java
  packages/firebase_ml_vision/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_ml_vision/example/android/app/src/main/java/io/flutter/plugins/firebasemlvisionexample/EmbeddingV1Activity.java
  packages/firebase_ml_vision/example/android/app/src/main/java/io/flutter/plugins/firebasemlvisionexample/MainActivity.java
  packages/firebase_ml_vision/example/android/gradle.properties
  packages/firebase_ml_vision/example/pubspec.yaml
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_performance_e2e.dart
Owners: @bparrishMines

Run publish check on stable (#1351)
  .cirrus.yml
  script/check_publish.sh
Owners: none

[firebase_ml_vision] Fix Android e2e test (#1363)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_e2e.dart
Owners: @bparrishMines

[all] Remove AndroidX warning (#1341)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/android/build.gradle
  packages/cloud_functions/pubspec.yaml
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/android/build.gradle
  packages/firebase_admob/pubspec.yaml
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/android/build.gradle
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/pubspec.yaml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/build.gradle
  packages/firebase_database/pubspec.yaml
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/build.gradle
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/build.gradle
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/android/build.gradle
  packages/firebase_performance/pubspec.yaml
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/android/build.gradle
  packages/firebase_remote_config/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/build.gradle
  packages/firebase_storage/pubspec.yaml
Owners: @collinjackson, @kroikie, @amirh, @bparrishMines

[firebase_crashlytics] Logging improvements (#1359)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/ios/Classes/FirebaseCrashlyticsPlugin.m
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

[cloud_firestore] Add FieldPath (#1296)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/lib/src/field_path.dart
  packages/cloud_firestore/lib/src/firestore_message_codec.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Owners: @collinjackson, @kroikie

Remove @visibleForTesting from FirebaseApp constructor (#1392)
  packages/firebase_core/lib/src/firebase_app.dart
  packages/firebase_core/test/firebase_core_test.dart
Owners: none

Use available simulator for CI (#1404)
  .cirrus.yml
Owners: none

bump core version to 0.4.1+4 (#1395)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/pubspec.yaml
Owners: @collinjackson, @kroikie

Remove deprecated firebase-core dependency (#1417)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_auth] getIdToken use actual refresh value instead of checking if object exists (#1334)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/example/test/firebase_auth.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

update xcode to v11 (#1420)
  .cirrus.yml
Owners: none

Update FirebaseApp creation in tests (#1406)
  packages/cloud_firestore/test/cloud_firestore_test.dart
  packages/cloud_functions/test/cloud_functions_test.dart
  packages/firebase_database/test/firebase_database_test.dart
  packages/firebase_storage/test/firebase_storage_test.dart
Owners: none

[firebase_database] Support v2 android embedder. (#287)
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/build.gradle
  packages/firebase_database/android/src/main/java/io/flutter/plugins/firebase/database/FirebaseDatabasePlugin.java
  packages/firebase_database/android/src/main/java/io/flutter/plugins/firebase/database/MethodCallHandlerImpl.java
  packages/firebase_database/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_database/example/android/app/src/main/java/io/flutter/plugins/firebasedatabaseexample/EmbeddingV1Activity.java
  packages/firebase_database/example/android/app/src/main/java/io/flutter/plugins/firebasedatabaseexample/EmbeddingV1ActivityTest.java
  packages/firebase_database/example/android/app/src/main/java/io/flutter/plugins/firebasedatabaseexample/MainActivity.java
  packages/firebase_database/example/android/app/src/main/java/io/flutter/plugins/firebasedatabaseexample/MainActivityTest.java
  packages/firebase_database/example/android/gradle.properties
  packages/firebase_database/example/lib/main.dart
  packages/firebase_database/example/pubspec.yaml
  packages/firebase_database/example/test_driver/firebase_database_e2e.dart
  packages/firebase_database/example/test_driver/firebase_database_e2e_test.dart
  packages/firebase_database/example/test_driver/firebase_database_test.dart
  packages/firebase_database/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_remote_config] Support v2 android embedder. (#282)
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/android/build.gradle
  packages/firebase_remote_config/android/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfig/FirebaseRemoteConfigPlugin.java
  packages/firebase_remote_config/android/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfig/MethodCallHandlerImpl.java
  packages/firebase_remote_config/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_remote_config/example/android/app/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfigexample/EmbeddingV1Activity.java
  packages/firebase_remote_config/example/android/app/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfigexample/EmbeddingV1ActivityTest.java
  packages/firebase_remote_config/example/android/app/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfigexample/MainActivity.java
  packages/firebase_remote_config/example/android/app/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfigexample/MainActivityTest.java
  packages/firebase_remote_config/example/android/gradle.properties
  packages/firebase_remote_config/example/lib/main.dart
  packages/firebase_remote_config/example/pubspec.yaml
  packages/firebase_remote_config/example/test_driver/firebase_remote_config_e2e.dart
  packages/firebase_remote_config/example/test_driver/firebase_remote_config_e2e_test.dart
  packages/firebase_remote_config/example/test_driver/firebase_remote_config_test.dart
  packages/firebase_remote_config/pubspec.yaml
Owners: @collinjackson, @kroikie

[CI] Add version to example apps (#1426)
  packages/firebase_crashlytics/example/ios/Runner/Info.plist
  packages/firebase_in_app_messaging/example/ios/Runner/Info.plist
  packages/firebase_ml_vision/example/ios/Runner/Info.plist
Owners: none

[firebase_dynamic_links] Add support of expanding from short links (#1381)
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/ios/Classes/FirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/lib/src/firebase_dynamic_links.dart
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_dynamic_links/test/firebase_dynamic_links_test.dart
Owners: @bparrishMines

Fixes strict compilation errors. (#1331)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

Upgrade crashlytics to v2 plugin API (#1370)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/build.gradle
  packages/firebase_crashlytics/android/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/FirebaseCrashlyticsPlugin.java
  packages/firebase_crashlytics/example/android/app/build.gradle
  packages/firebase_crashlytics/example/android/app/src/androidTest/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/EmbeddingV1ActivityTest.java
  packages/firebase_crashlytics/example/android/app/src/androidTest/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/MainActivityTest.java
  packages/firebase_crashlytics/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_crashlytics/example/android/app/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlyticsexample/EmbeddingV1Activity.java
  packages/firebase_crashlytics/example/android/app/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlyticsexample/MainActivity.java
  packages/firebase_crashlytics/example/android/gradle.properties
  packages/firebase_crashlytics/example/pubspec.yaml
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_crashlytics/test/firebase_crashlytics_e2e.dart
Owners: @kroikie, @collinjackson

Format documentation lists (See also & Errors) correctly (#298)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/pubspec.yaml
Owners: @collinjackson, @kroikie, @bparrishMines

[firebase_auth] Fix NoSuchMethodError exception in `reauthenticateWithCredential` (#237)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/test/firebase_auth.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/lib/src/id_token_result.dart
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[cloud_firestore] [firebase_performance] fix analyzer warnings (#1453)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/document_change.dart
  packages/cloud_firestore/lib/src/query_snapshot.dart
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/lib/src/http_metric.dart
  packages/firebase_performance/lib/src/performance_attributes.dart
  packages/firebase_performance/lib/src/trace.dart
  packages/firebase_performance/pubspec.yaml
Owners: @collinjackson, @kroikie, @bparrishMines

[CI] Skip flaky firebase_performance driver tests (#1452)
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/example/test_driver/firebase_performance.dart
  packages/firebase_performance/pubspec.yaml
Owners: @bparrishMines, @collinjackson

[firebase_auth] Added missing Exception to the reauthenticateWithCredential docs (#1448) (#1449)
  AUTHORS
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_remote_config] Bumps Android Firebase dependency to 19.0.3 (#1443)
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/android/build.gradle
  packages/firebase_remote_config/android/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfig/MethodCallHandlerImpl.java
  packages/firebase_remote_config/example/android/build.gradle
  packages/firebase_remote_config/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_remote_config/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_messaging] Use UNUserNotificationCenter for ios 10+ (#121)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/android/gradle.properties
  packages/firebase_messaging/example/android/gradle.properties
  packages/firebase_messaging/example/ios/Runner/AppDelegate.m
  packages/firebase_messaging/example/test_driver/firebase_messaging.dart
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

Update CONTRIBUTING.md (#1473)
  CONTRIBUTING.md
Owners: none

[firebase_core] Migrate to platform_interface (#1472)
  packages/firebase_core/firebase_core/CHANGELOG.md
  packages/firebase_core/firebase_core/lib/firebase_core.dart
  packages/firebase_core/firebase_core/lib/src/firebase_app.dart
  packages/firebase_core/firebase_core/lib/src/firebase_options.dart
  packages/firebase_core/firebase_core/pubspec.yaml
  packages/firebase_core/firebase_core/test/firebase_core_test.dart
Owners: none

[firebase_messaging] Add an ArgumentError when passing invalid background message (#252)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_messaging/test/firebase_messaging_test.dart
Owners: @collinjackson, @kroikie

[firebase_dynamic_links] support v2 embedding (#1372)
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/build.gradle
  packages/firebase_dynamic_links/android/gradle.properties
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/example/android/app/build.gradle
  packages/firebase_dynamic_links/example/android/app/src/androidTest/java/io/flutter/plugins/firebasedynamiclinks/EmbeddingV1ActivityTest.java
  packages/firebase_dynamic_links/example/android/app/src/androidTest/java/io/flutter/plugins/firebasedynamiclinks/MainActivityTest.java
  packages/firebase_dynamic_links/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_dynamic_links/example/android/app/src/main/java/io/flutter/plugins/firebasedynamiclinksexample/EmbeddingV1Activity.java
  packages/firebase_dynamic_links/example/android/app/src/main/java/io/flutter/plugins/firebasedynamiclinksexample/MainActivity.java
  packages/firebase_dynamic_links/example/android/gradle.properties
  packages/firebase_dynamic_links/example/pubspec.yaml
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_dynamic_links/test/firebase_dynamic_links_e2e.dart
Owners: @bparrishMines

[cloud_firestore] Fix test that used FirebaseApp.channel (#1476)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Owners: @collinjackson, @kroikie

[firebase_core] Switch away from quiver_hashcode (#1486)
  packages/firebase_core/firebase_core_platform_interface/CHANGELOG.md
  packages/firebase_core/firebase_core_platform_interface/lib/src/firebase_options.dart
  packages/firebase_core/firebase_core_platform_interface/lib/src/platform_firebase_app.dart
  packages/firebase_core/firebase_core_platform_interface/pubspec.yaml
Owners: none

Upgrade in-app-messaging to plugin api v2 (#1369)
  packages/firebase_in_app_messaging/CHANGELOG.md
  packages/firebase_in_app_messaging/android/build.gradle
  packages/firebase_in_app_messaging/android/gradle.properties
  packages/firebase_in_app_messaging/android/src/main/java/com/example/firebase_in_app_messaging/FirebaseInAppMessagingPlugin.java
  packages/firebase_in_app_messaging/example/android/app/build.gradle
  packages/firebase_in_app_messaging/example/android/app/src/androidTest/java/com/example/firebase_in_app_messaging/EmbeddingV1ActivityTest.java
  packages/firebase_in_app_messaging/example/android/app/src/androidTest/java/com/example/firebase_in_app_messaging/MainActivityTest.java
  packages/firebase_in_app_messaging/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_in_app_messaging/example/android/app/src/main/java/com/example/firebase_in_app_messaging_example/EmbeddingV1Activity.java
  packages/firebase_in_app_messaging/example/android/app/src/main/java/com/example/firebase_in_app_messaging_example/MainActivity.java
  packages/firebase_in_app_messaging/example/android/gradle.properties
  packages/firebase_in_app_messaging/example/pubspec.yaml
  packages/firebase_in_app_messaging/example/test_driver/firebase_in_app_messaging.dart
  packages/firebase_in_app_messaging/example/test_driver/firebase_in_app_messaging_test.dart
  packages/firebase_in_app_messaging/pubspec.yaml
  packages/firebase_in_app_messaging/test/firebase_in_app_messaging_e2e.dart
Owners: @collinjackson

[all] Switch to pedantic analysis package (#1497)
  analysis_options.yaml
  packages/cloud_firestore/analysis_options.yaml
  packages/cloud_functions/analysis_options.yaml
  packages/firebase_admob/example/lib/main.dart
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_analytics/analysis_options.yaml
  packages/firebase_auth/analysis_options.yaml
  packages/firebase_core/firebase_core/analysis_options.yaml
  packages/firebase_core/firebase_core_platform_interface/analysis_options.yaml
  packages/firebase_crashlytics/analysis_options.yaml
  packages/firebase_database/analysis_options.yaml
  packages/firebase_dynamic_links/analysis_options.yaml
  packages/firebase_in_app_messaging/analysis_options.yaml
  packages/firebase_messaging/analysis_options.yaml
  packages/firebase_ml_vision/analysis_options.yaml
  packages/firebase_performance/analysis_options.yaml
  packages/firebase_remote_config/analysis_options.yaml
  packages/firebase_storage/analysis_options.yaml
  pubspec.yaml
Owners: @collinjackson, @kroikie, @bparrishMines

[firebase_core] Check `kIsWeb` in `firebase_core` (#1487)
  packages/firebase_core/firebase_core/CHANGELOG.md
  packages/firebase_core/firebase_core/lib/firebase_core.dart
  packages/firebase_core/firebase_core/lib/src/firebase_app.dart
  packages/firebase_core/firebase_core/pubspec.yaml
Owners: none

Add Chrome to the Dockerfile for Cirrus (#1498)
  .ci/Dockerfile
Owners: none

[firebase_messaging] Fix availability check on ios (#1499)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie
