Repository naturalspirit-dev/flutterfire, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @amirh, @bparrishMines

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_in_app_messaging/* @collinjackson
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie

Migrate PR
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/android/build.gradle
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/AdRequestBuilderFactory.java
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/MobileAd.java
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/RewardedVideoAdWrapper.java
  packages/firebase_admob/example/android/app/build.gradle
  packages/firebase_admob/example/android/build.gradle
  packages/firebase_admob/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_admob/pubspec.yaml
Owners: @amirh, @bparrishMines

Manual merge of rejected diff
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
Owners: none

Update docs to encourage contributors to self-label PRs with the plugin they affect
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Owners: none

reformat
  packages/firebase_auth/lib/src/firebase_auth.dart
Owners: none

Remove duplicate example.
  packages/firebase_admob/README.md
Owners: @amirh, @bparrishMines

Update version/changelog per PR guidelines
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/pubspec.yaml
Owners: @amirh, @bparrishMines

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

initial
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

format
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
Owners: none

Remove emulators references from .cirrus.yaml
  .cirrus.yml
Owners: none

fix analyze issues
  packages/firebase_messaging/lib/firebase_messaging.dart
Owners: none

address comments
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FlutterFirebaseMessagingService.java
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/LatchResult.java
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_messaging/test/firebase_messaging_test.dart
Owners: @collinjackson, @kroikie

fix formatting
  packages/firebase_messaging/lib/firebase_messaging.dart
Owners: none

Wrap chanel result logic in LatchResult
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FlutterFirebaseMessagingService.java
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/LatchResult.java
Owners: none

Migration of flutter/plugins#1900
  packages/firebase_messaging/README.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FlutterFirebaseMessagingService.java
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/test/firebase_messaging_test.dart
Owners: @collinjackson, @kroikie

Make fcmSetupBackgroundChannel top-level
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/test/firebase_messaging_test.dart
Owners: none

Make fcmSetupBackgroundChannel private
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/test/firebase_messaging_test.dart
Owners: none

Fix analyze errors
  packages/firebase_messaging/README.md
  packages/firebase_messaging/test/firebase_messaging_test.dart
Owners: @collinjackson, @kroikie

Create firebaseopensource.com configuration
  .opensource/project.json
Owners: none

Remove newline
  .opensource/project.json
Owners: none

Fix setAnalyticsCollectionEnabled
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/ios/Classes/FirebaseAnalyticsPlugin.m
  packages/firebase_analytics/pubspec.yaml
Owners: @collinjackson, @kroikie

Fix integer conversion warnings
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

Fix pre-existing dartanalyzer finding (#108)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/example/lib/main.dart
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

[Firebase_messaging] Fix Deprecated API usage (#136)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/build.gradle
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FlutterFirebaseMessagingService.java
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_ml_vision] Update firebase_ml_vision example app deployment target to 9.0 (#165)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_ml_vision/example/lib/material_barcode_scanner.dart
  packages/firebase_ml_vision/example/test_driver/face_detector.dart
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

Fix const constructors (#213)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/example/lib/register_page.dart
  packages/firebase_auth/example/lib/signin_page.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_in_app_messaging/CHANGELOG.md
  packages/firebase_in_app_messaging/example/lib/main.dart
  packages/firebase_in_app_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_crashlytics] Fix example app build by increasing compileSdkVersion to 28 (#240)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/example/android/app/build.gradle
  packages/firebase_crashlytics/example/android/gradle.properties
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

Remove duplicate instruction from PR checklist (#110)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

[cloud_firestore] Fixes crash on Android when run a transaction (#87)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
Owners: @collinjackson, @kroikie

[cloud_firestore] Update pubspec.yaml (#281)
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_ml_vision] Use const constructor in example app & update qr test image (#289)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/example/assets/test_contact_barcode.jpg
  packages/firebase_ml_vision/example/assets/test_contact_barcode.png
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/example/pubspec.yaml
  packages/firebase_ml_vision/example/test_driver/barcode_detector.dart
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

Update url_launcher (#295)
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/example/android/gradle.properties
  packages/firebase_dynamic_links/example/pubspec.yaml
  packages/firebase_dynamic_links/pubspec.yaml
Owners: @bparrishMines

Cloud function package name (#1250)
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/android/src/main/java/io/flutter/plugins/firebase/cloudfunctions/CloudFunctionsPlugin.java
  packages/cloud_functions/pubspec.yaml
Owners: @collinjackson, @kroikie

Fix documentation that referenced Android classes to reference the dart mechanism instead. (#1256)
  packages/cloud_firestore/lib/src/snapshot_metadata.dart
Owners: none

Enable Firebase Test Lab testing (#1268)
  .ci/Dockerfile
  .cirrus.yml
Owners: none

[firebase_analytics] Support Android v2 embedding (#1266)
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/android/build.gradle
  packages/firebase_analytics/android/gradle.properties
  packages/firebase_analytics/android/src/main/java/io/flutter/plugins/firebaseanalytics/FirebaseAnalyticsPlugin.java
  packages/firebase_analytics/example/android/app/build.gradle
  packages/firebase_analytics/example/android/app/src/androidTest/java/io/flutter/plugins/firebaseanalyticsexample/EmbeddingV1ActivityTest.java
  packages/firebase_analytics/example/android/app/src/androidTest/java/io/flutter/plugins/firebaseanalyticsexample/MainActivityTest.java
  packages/firebase_analytics/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_analytics/example/android/app/src/main/java/io/flutter/plugins/firebaseanalyticsexample/EmbeddingV1Activity.java
  packages/firebase_analytics/example/android/app/src/main/java/io/flutter/plugins/firebaseanalyticsexample/MainActivity.java
  packages/firebase_analytics/example/android/gradle.properties
  packages/firebase_analytics/example/pubspec.yaml
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_e2e.dart
Owners: @collinjackson, @kroikie

[firebase_core] v2 embedding API (#274)
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/android/gradle.properties
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FirebaseCorePlugin.java
  packages/firebase_core/example/android/app/build.gradle
  packages/firebase_core/example/android/app/gradle.properties
  packages/firebase_core/example/android/app/src/androidTest/java/io/flutter/plugins/firebase/core/EmbeddingV1ActivityTest.java
  packages/firebase_core/example/android/app/src/androidTest/java/io/flutter/plugins/firebase/core/MainActivityTest.java
  packages/firebase_core/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_core/example/android/app/src/main/java/io/flutter/plugins/firebasecoreexample/EmbeddingV1Activity.java
  packages/firebase_core/example/android/app/src/main/java/io/flutter/plugins/firebasecoreexample/MainActivity.java
  packages/firebase_core/example/android/gradle.properties
  packages/firebase_core/example/pubspec.yaml
  packages/firebase_core/pubspec.yaml
  packages/firebase_core/test/firebase_core_e2e.dart
Owners: @collinjackson, @kroikie

Cast error.code to long to avoid using NSInteger as %ld format warnings. (#1291)
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Owners: @collinjackson, @kroikie

delete all example/android/app/gradle.properties files (#1293)
  packages/cloud_firestore/example/android/app/gradle.properties
  packages/cloud_functions/example/android/app/gradle.properties
  packages/firebase_admob/example/android/app/gradle.properties
  packages/firebase_admob/example/android/gradle.properties
  packages/firebase_analytics/example/android/app/gradle.properties
  packages/firebase_analytics/example/android/gradle.properties
  packages/firebase_auth/example/android/app/gradle.properties
  packages/firebase_database/example/android/app/gradle.properties
  packages/firebase_database/example/android/gradle.properties
  packages/firebase_dynamic_links/example/android/app/gradle.properties
  packages/firebase_in_app_messaging/example/android/app/gradle.properties
  packages/firebase_in_app_messaging/example/android/gradle.properties
  packages/firebase_messaging/example/android/app/gradle.properties
  packages/firebase_messaging/example/android/gradle.properties
  packages/firebase_ml_vision/android/gradle.properties
  packages/firebase_ml_vision/example/android/app/gradle.properties
  packages/firebase_ml_vision/example/android/gradle.properties
  packages/firebase_performance/example/android/app/gradle.properties
  packages/firebase_remote_config/example/android/app/gradle.properties
  packages/firebase_storage/example/android/app/gradle.properties
Owners: none

Remove unused encrypted variables (#1298)
  .cirrus.yml
Owners: none
