Repository naturalspirit-dev/flutterfire, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @amirh, @bparrishMines

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_in_app_messaging/* @collinjackson
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie

[firebase_core_web] Add initial implementation (#1488)
  packages/firebase_core/firebase_core_web/CHANGELOG.md
  packages/firebase_core/firebase_core_web/LICENSE
  packages/firebase_core/firebase_core_web/README.md
  packages/firebase_core/firebase_core_web/ios/firebase_core_web.podspec
  packages/firebase_core/firebase_core_web/lib/firebase_core_web.dart
  packages/firebase_core/firebase_core_web/lib/src/firebase_js.dart
  packages/firebase_core/firebase_core_web/pubspec.yaml
  packages/firebase_core/firebase_core_web/test/firebase_core_web_test.dart
Owners: none

[firebase_core_web] Use package:firebase (#1522)
  packages/firebase_core/firebase_core_web/CHANGELOG.md
  packages/firebase_core/firebase_core_web/lib/firebase_core_web.dart
  packages/firebase_core/firebase_core_web/lib/src/firebase_js.dart
  packages/firebase_core/firebase_core_web/pubspec.yaml
Owners: none

Avoid testing web plugins on stable (#1535)
  .cirrus.yml
Owners: none

[firebase_storage] Support Android v2 embedding (#1295)
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/build.gradle
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/example/android/app/build.gradle
  packages/firebase_storage/example/android/app/src/androidTest/java/io/flutter/plugins/firebasestorageexample/EmbeddingV1ActivityTest.java
  packages/firebase_storage/example/android/app/src/androidTest/java/io/flutter/plugins/firebasestorageexample/MainActivityTest.java
  packages/firebase_storage/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_storage/example/android/app/src/main/java/io/flutter/plugins/firebasestorageexample/EmbeddingV1Activity.java
  packages/firebase_storage/example/android/app/src/main/java/io/flutter/plugins/firebasestorageexample/MainActivity.java
  packages/firebase_storage/example/android/gradle.properties
  packages/firebase_storage/example/pubspec.yaml
  packages/firebase_storage/lib/src/storage_reference.dart
  packages/firebase_storage/pubspec.yaml
  packages/firebase_storage/test/firebase_storage_e2e.dart
Owners: @collinjackson, @kroikie

[firebase_auth] Migrate to platform interface (#1502)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/firebase_auth/lib/src/additional_user_info.dart
  packages/firebase_auth/firebase_auth/lib/src/auth_credential.dart
  packages/firebase_auth/firebase_auth/lib/src/auth_exception.dart
  packages/firebase_auth/firebase_auth/lib/src/auth_provider/email_auth_provider.dart
  packages/firebase_auth/firebase_auth/lib/src/auth_provider/facebook_auth_provider.dart
  packages/firebase_auth/firebase_auth/lib/src/auth_provider/github_auth_provider.dart
  packages/firebase_auth/firebase_auth/lib/src/auth_provider/google_auth_provider.dart
  packages/firebase_auth/firebase_auth/lib/src/auth_provider/phone_auth_provider.dart
  packages/firebase_auth/firebase_auth/lib/src/auth_provider/twitter_auth_provider.dart
  packages/firebase_auth/firebase_auth/lib/src/auth_result.dart
  packages/firebase_auth/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/firebase_auth/lib/src/id_token_result.dart
  packages/firebase_auth/firebase_auth/lib/src/user_info.dart
  packages/firebase_auth/firebase_auth/lib/src/user_metadata.dart
  packages/firebase_auth/firebase_auth/pubspec.yaml
  packages/firebase_auth/firebase_auth/test/firebase_auth_test.dart
Owners: none

[cloud_firestore] Move .gitignore into cloud_firestore subdir. (#1544)
  packages/cloud_firestore/cloud_firestore/.gitignore
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

In and array contains (#1477)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/android/build.gradle
  packages/cloud_firestore/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/cloud_firestore/example/android/gradle.properties
  packages/cloud_firestore/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/cloud_firestore/test/cloud_firestore_test.dart
Owners: none

[firebase_auth_web] Add initial implementation (#1523)
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/LICENSE
  packages/firebase_auth/firebase_auth_web/README.md
  packages/firebase_auth/firebase_auth_web/lib/firebase_auth_web.dart
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
  packages/firebase_auth/firebase_auth_web/test/firebase_auth_web_test.dart
Owners: none

[cloud_firestore] Remove deprecated setTimestampsInSnapshotsEnabled (#1386)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/cloud_firestore/example/lib/main.dart
  packages/cloud_firestore/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/cloud_firestore/test/cloud_firestore_test.dart
Owners: none

Add missing require properties (#1546)
  packages/firebase_auth/firebase_auth/test/firebase_auth_test.dart
Owners: none

Add documentation for how to initialize the default app (#1545)
  packages/firebase_core/firebase_core_web/CHANGELOG.md
  packages/firebase_core/firebase_core_web/README.md
  packages/firebase_core/firebase_core_web/pubspec.yaml
Owners: none

Update README to mention web support (#1552)
  README.md
Owners: none

[firebase_crashlytics] Updated the documentation language. (#1551)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

[firebase_auth_web] creationTime and lastSignInTime are not parsable by DateTime.parse (#1553)
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/lib/firebase_auth_web.dart
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
  packages/firebase_auth/firebase_auth_web/test/firebase_auth_web_test.dart
Owners: none

[firebase_crashlytics] No need for async as there's no await (#1561)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/example/lib/main.dart
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

[none] Whitelist custom analysis_options (#1566)
  script/incremental_build.sh
Owners: none

[none] Lock pedantic package version (#1567)
  analysis_options.yaml
  pubspec.yaml
Owners: none

[firebase_messaging] Make onIosSettingsRegistered callback on iOS >= 10 (#1565)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_messaging] Implement android v2 embedding (#1564)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/build.gradle
  packages/firebase_messaging/android/firebase_messaging.iml
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/example/android/app/build.gradle
  packages/firebase_messaging/example/android/app/src/androidTest/java/io/flutter/plugins/firebase/messaging/EmbeddingV1ActivityTest.java
  packages/firebase_messaging/example/android/app/src/androidTest/java/io/flutter/plugins/firebase/messaging/MainActivityTest.java
  packages/firebase_messaging/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_messaging/example/android/app/src/main/java/io/flutter/plugins/firebasemessagingexample/EmbeddingV1Activity.java
  packages/firebase_messaging/example/android/app/src/main/java/io/flutter/plugins/firebasemessagingexample/MainActivity.java
  packages/firebase_messaging/example/pubspec.yaml
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_messaging/test/firebase_messaging_e2e.dart
Owners: @collinjackson, @kroikie

[firebase_auth_platform_interface] Add AppleAuthCredential class (#1549)
  packages/firebase_auth/firebase_auth_platform_interface/CHANGELOG.md
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/types.dart
  packages/firebase_auth/firebase_auth_platform_interface/pubspec.yaml
  packages/firebase_auth/firebase_auth_platform_interface/test/method_channel_firebase_auth_test.dart
Owners: none

[firebase_storage] add ensureInitialized (#1541)
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/example/lib/main.dart
  packages/firebase_storage/pubspec.yaml
Owners: @collinjackson, @kroikie

Add UserNotifications header (#1577)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

Update CONTRIBUTING.md to match flutter/plugins (#1587)
  CONTRIBUTING.md
Owners: none

[firebase_auth] Fix crash with null additionalUserInfo (#1588)
  packages/firebase_auth/firebase_auth_platform_interface/CHANGELOG.md
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/method_channel_firebase_auth.dart
  packages/firebase_auth/firebase_auth_platform_interface/pubspec.yaml
  packages/firebase_auth/firebase_auth_platform_interface/test/method_channel_firebase_auth_test.dart
Owners: none

fix analyze error on crashlytics example (#1589)
  packages/firebase_crashlytics/example/lib/main.dart
Owners: none

[cloud_messaging] Added step for Android instructions (#1593)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

Fix pubspec format (#1599)
  packages/firebase_auth/firebase_auth/pubspec.yaml
  packages/firebase_core/firebase_core/pubspec.yaml
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

[firebase_core_web] Prepare for endorsement. (#1596)
  packages/firebase_core/firebase_core_web/CHANGELOG.md
  packages/firebase_core/firebase_core_web/ios/firebase_core_web.podspec
  packages/firebase_core/firebase_core_web/pubspec.yaml
Owners: none

[firebase_auth_web] Prepare for endorsement. (#1597)
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/ios/firebase_auth_web.podspec
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
Owners: none

[firebase_core] Endorse web implementation (#1600)
  packages/firebase_core/firebase_core/CHANGELOG.md
  packages/firebase_core/firebase_core/example/web/index.html
  packages/firebase_core/firebase_core/pubspec.yaml
Owners: none

[firebase_auth] Endorse web implementation (#1601)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/example/README.md
  packages/firebase_auth/firebase_auth/example/web/index.html
  packages/firebase_auth/firebase_auth/pubspec.yaml
Owners: none

add only_if tag (#1602)
  .cirrus.yml
Owners: none

[firebase_messaging] provisional notifications (#1500)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/example/lib/main.dart
  packages/firebase_messaging/ios/Classes/FLTFirebaseMessagingPlugin.m
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_messaging/test/firebase_messaging_test.dart
Owners: @collinjackson, @kroikie

[firebase_storage] Added error handling to writeToFile (#1482)
  AUTHORS
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/example/test_driver/firebase_storage.dart
  packages/firebase_storage/lib/src/firebase_storage.dart
  packages/firebase_storage/pubspec.yaml
  packages/firebase_storage/test/firebase_storage_test.dart
Owners: @collinjackson, @kroikie

[firebase_admob] Support v2 embedding (#1365)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/android/build.gradle
  packages/firebase_admob/android/gradle.properties
  packages/firebase_admob/android/src/main/AndroidManifest.xml
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/MobileAd.java
  packages/firebase_admob/example/android/app/build.gradle
  packages/firebase_admob/example/android/app/src/androidTest/java/io/flutter/plugins/firebaseadmob/EmbeddingV1ActivityTest.java
  packages/firebase_admob/example/android/app/src/androidTest/java/io/flutter/plugins/firebaseadmob/MainActivityTest.java
  packages/firebase_admob/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_admob/example/android/app/src/main/java/io/flutter/plugins/firebaseadmobexample/EmbeddingV1Activity.java
  packages/firebase_admob/example/android/app/src/main/java/io/flutter/plugins/firebaseadmobexample/MainActivity.java
  packages/firebase_admob/example/android/gradle.properties
  packages/firebase_admob/example/pubspec.yaml
  packages/firebase_admob/pubspec.yaml
  packages/firebase_admob/test/firebase_admob_e2e.dart
Owners: @amirh, @bparrishMines

[firebase_core] Put the 'dart:io' import behind a configurable import (#1609)
  packages/firebase_core/firebase_core/CHANGELOG.md
  packages/firebase_core/firebase_core/lib/src/default_app_name.dart
  packages/firebase_core/firebase_core/lib/src/default_app_name_io.dart
  packages/firebase_core/firebase_core/lib/src/firebase_app.dart
  packages/firebase_core/firebase_core/pubspec.yaml
Owners: none

[All] Add keep annotation to Firebase registrar (#1373)
  packages/cloud_firestore/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_functions/android/src/main/java/io/flutter/plugins/firebase/cloudfunctions/FlutterFirebaseAppRegistrar.java
  packages/firebase_analytics/firebase_analytics/android/build.gradle
  packages/firebase_analytics/firebase_analytics/android/src/main/java/io/flutter/plugins/firebaseanalytics/FlutterFirebaseAppRegistrar.java
  packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FlutterFirebaseAppRegistrar.java
  packages/firebase_core/firebase_core/android/build.gradle
  packages/firebase_core/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FlutterFirebaseAppRegistrar.java
  packages/firebase_crashlytics/android/build.gradle
  packages/firebase_crashlytics/android/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/FlutterFirebaseAppRegistrar.java
  packages/firebase_database/android/build.gradle
  packages/firebase_database/android/src/main/java/io/flutter/plugins/firebase/database/FlutterFirebaseAppRegistrar.java
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FlutterFirebaseAppRegistrar.java
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FlutterFirebaseAppRegistrar.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FlutterFirebaseAppRegistrar.java
  packages/firebase_performance/android/build.gradle
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FlutterFirebaseAppRegistrar.java
  packages/firebase_remote_config/android/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfig/FlutterFirebaseAppRegistrar.java
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FlutterFirebaseAppRegistrar.java
Owners: none

Re-enable CI on stable (#1611)
  .cirrus.yml
Owners: none

[firebase_auth_web] Add noop Android implementation. (#1628)
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/android/.gitignore
  packages/firebase_auth/firebase_auth_web/android/build.gradle
  packages/firebase_auth/firebase_auth_web/android/gradle.properties
  packages/firebase_auth/firebase_auth_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_auth/firebase_auth_web/android/settings.gradle
  packages/firebase_auth/firebase_auth_web/android/src/main/AndroidManifest.xml
  packages/firebase_auth/firebase_auth_web/android/src/main/java/io/flutter/plugins/firebaseauth_web/FirebaseAuthWebPlugin.java
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
Owners: none

[firebase_core_web] add non op android folder (#1629)
  packages/firebase_core/firebase_core_web/CHANGELOG.md
  packages/firebase_core/firebase_core_web/android/.gitignore
  packages/firebase_core/firebase_core_web/android/build.gradle
  packages/firebase_core/firebase_core_web/android/gradle.properties
  packages/firebase_core/firebase_core_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_core/firebase_core_web/android/settings.gradle
  packages/firebase_core/firebase_core_web/android/src/main/AndroidManifest.xml
  packages/firebase_core/firebase_core_web/android/src/main/java/io/flutter/plugins/firebase_core_web/FirebaseCoreWebPlugin.java
  packages/firebase_core/firebase_core_web/pubspec.yaml
Owners: none
