Repository naturalspirit-dev/flutterfire, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @amirh, @bparrishMines

fix(cloud_functions): ci failures (#2519)
  packages/cloud_functions/cloud_functions/CHANGELOG.md
  packages/cloud_functions/cloud_functions/example/android/gradle.properties
  packages/cloud_functions/cloud_functions/pubspec.yaml
  packages/cloud_functions/cloud_functions_platform_interface/CHANGELOG.md
  packages/cloud_functions/cloud_functions_platform_interface/pubspec.yaml
  packages/cloud_functions/cloud_functions_web/CHANGELOG.md
  packages/cloud_functions/cloud_functions_web/pubspec.yaml
Owners: none

fix(firebase_messaging): ensure plugin callback registered (#1774)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FlutterFirebaseMessagingService.java
Owners: @collinjackson, @kroikie

chore(firebase_messaging): v6.0.15 (#2539)
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_admob] Bump dart version requirement (#2589)
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/pubspec.yaml
Owners: @amirh, @bparrishMines

feat(firebase_auth_web): add support for `confirmPasswordReset` (#2559)
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/lib/firebase_auth_web.dart
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
Owners: none

[Firebase_Auth] Updated auth example to use latest dynamic links build, and added mig… (#2662)
  packages/firebase_auth/firebase_auth/README.md
  packages/firebase_auth/firebase_auth/example/lib/signin_page.dart
  packages/firebase_auth/firebase_auth/example/pubspec.yaml
Owners: none

[firebase_analytics] Wire the platform interface. (#2572)
  packages/firebase_analytics/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/firebase_analytics/pubspec.yaml
Owners: none

[firebase_analytics_web] Add initial implementation for firebase_analytics_web (#2573)
  packages/firebase_analytics/firebase_analytics_web/.gitignore
  packages/firebase_analytics/firebase_analytics_web/.metadata
  packages/firebase_analytics/firebase_analytics_web/CHANGELOG.md
  packages/firebase_analytics/firebase_analytics_web/LICENSE
  packages/firebase_analytics/firebase_analytics_web/README.md
  packages/firebase_analytics/firebase_analytics_web/lib/firebase_analytics_web.dart
  packages/firebase_analytics/firebase_analytics_web/pubspec.yaml
  packages/firebase_analytics/firebase_analytics_web/test/firebase_analytics_web_test.dart
Owners: none

Update readme (#2787)
  packages/firebase_crashlytics/README.md
Owners: @kroikie, @collinjackson

Update readme with correct link for config steps (#2785)
  packages/firebase_analytics/firebase_analytics/README.md
Owners: none

[cloud_firestore] Clean up Android Firestore listeners (#2733)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

[firebase_analytics] Disable expectation that breaks in flutter master. (#2862)
  packages/firebase_analytics/firebase_analytics/test/observer_test.dart
Owners: none

Update CONTRIBUTING.md (#2863)
  CONTRIBUTING.md
Owners: none

[remote_config] Propagate native error message on #fetch (#2859)
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/lib/src/remote_config.dart
  packages/firebase_remote_config/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_analytics_web] Add noop ios podspec (#2844)
  packages/firebase_analytics/firebase_analytics_web/CHANGELOG.md
  packages/firebase_analytics/firebase_analytics_web/ios/firebase_analytics_web.podspec
  packages/firebase_analytics/firebase_analytics_web/pubspec.yaml
Owners: none

[firebase_analytics] Endorse web implementation. (#2865)
  packages/firebase_analytics/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/firebase_analytics/example/web/favicon.png
  packages/firebase_analytics/firebase_analytics/example/web/icons/Icon-192.png
  packages/firebase_analytics/firebase_analytics/example/web/icons/Icon-512.png
  packages/firebase_analytics/firebase_analytics/example/web/index.html
  packages/firebase_analytics/firebase_analytics/example/web/manifest.json
  packages/firebase_analytics/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/firebase_analytics/test/firebase_analytics_test.dart
Owners: none

Try using StackTrace.current when not supplied (#107)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Owners: @kroikie, @collinjackson

Instuctions to install ErrorListener on Isolate (#109)
  packages/firebase_crashlytics/README.md
Owners: @kroikie, @collinjackson

[dynamic_links]: fix initialization process (#2817)
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/README.md
  packages/firebase_dynamic_links/example/lib/main.dart
  packages/firebase_dynamic_links/ios/Classes/FLTFirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/pubspec.yaml
Owners: @bparrishMines

Phone auth fix (#2880)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/firebase_auth/darwin/Classes/FLTFirebaseAuthPlugin.m
  packages/firebase_auth/firebase_auth/pubspec.yaml
Owners: none

[FirebasAuth] added that Errors are thrown via a PlatformException (#146)
  packages/firebase_auth/firebase_auth/README.md
Owners: none

Added Firebase_Analytics Web to readme (#2883)
  README.md
Owners: none

Update README to describe supported authentication methods (#184)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/README.md
  packages/firebase_auth/firebase_auth/pubspec.yaml
Owners: none

fix crash where listeners are not removed when app quits (#2650)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

[flutter-messaging] fix notifications disappearing after app launch (#227)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/Classes/FLTFirebaseMessagingPlugin.m
Owners: @collinjackson, @kroikie

fix(core,macos): don't use umbrella Firebase header (#2900)
  packages/firebase_core/firebase_core/ios/Classes/FLTFirebasePlugin.h
Owners: none

docs(messaging): update readme (#2901)
  packages/firebase_messaging/README.md
Owners: @collinjackson, @kroikie

chore(firebase_core): remove dependency on 'universal_platform' (#2916)
  packages/firebase_core/firebase_core_platform_interface/lib/firebase_core_platform_interface.dart
  packages/firebase_core/firebase_core_platform_interface/lib/src/firebase_core_exceptions.dart
  packages/firebase_core/firebase_core_platform_interface/pubspec.yaml
Owners: none

fix(cloud_firestore): remove get-write validation (#2919)
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/method_channel/method_channel_transaction.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/test/method_channel_tests/method_channel_transaction_test.dart
Owners: none

fix(firestore): normalize Firestore pointer path (#2929)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/internal/pointer.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/test/internal_tests/pointer_test.dart
Owners: none

chore(firebase_core): bump core versions (#2907)
  packages/firebase_core/firebase_core/CHANGELOG.md
  packages/firebase_core/firebase_core/pubspec.yaml
  packages/firebase_core/firebase_core_platform_interface/CHANGELOG.md
  packages/firebase_core/firebase_core_platform_interface/pubspec.yaml
  packages/firebase_core/firebase_core_web/CHANGELOG.md
  packages/firebase_core/firebase_core_web/pubspec.yaml
Owners: none

docs(cloud_firestore): fix example dir path in CONTRIBUTING.md (#2282)
  CONTRIBUTING.md
Owners: none

docs(firebase_dynamic_links): update readme with up-to-date info (#2692)
  packages/firebase_dynamic_links/README.md
Owners: @bparrishMines

docs: rework plugins table + add logo assets & roadmap link (#2930)
  README.md
  website/static/img/flutterfire.svg
  website/static/img/flutterfire_1200x.png
  website/static/img/flutterfire_300x.png
  website/static/img/flutterfire_600x.png
Owners: none

docs: update readme badges
  README.md
Owners: none

tests(cloud_firestore): add additional equality tests (#2942)
  packages/cloud_firestore/cloud_firestore/test/collection_reference_test.dart
  packages/cloud_firestore/cloud_firestore/test/document_reference_test.dart
Owners: none

docs: add logo to overview (#2944)
  docs/overview.mdx
  website/docusaurus.config.js
  website/src/pages/index.tsx
  website/src/theme/MDXComponents/index.tsx
Owners: none

fix(firestore): add timestamp tests & fix (#2945)
  packages/cloud_firestore/cloud_firestore_platform_interface/lib/src/timestamp.dart
  packages/cloud_firestore/cloud_firestore_platform_interface/test/timestamp_test.dart
Owners: none

chore(release): prerelease cloud_firestore* packages (#2943)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/cloud_firestore_platform_interface/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_platform_interface/pubspec.yaml
  packages/cloud_firestore/cloud_firestore_web/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_web/pubspec.yaml
Owners: none

docs(auth): add missing import statement for google sign-in (#2946)
  packages/firebase_auth/firebase_auth/README.md
Owners: none

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_in_app_messaging/* @collinjackson
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie
