Repository naturalspirit-dev/flutterfire, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @amirh, @bparrishMines

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_in_app_messaging/* @collinjackson
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie

update docs workflow to use build as root of static content
  .github/workflows/docs.yaml
  website/firebase.json
Owners: none

update installations android docs
  docs/installation/android.mdx
Owners: none

chore(firebase_in_app_messaging): migrate to new `firebase_core` plugin (#3102)
  packages/firebase_in_app_messaging/CHANGELOG.md
  packages/firebase_in_app_messaging/android/build.gradle
  packages/firebase_in_app_messaging/android/src/main/AndroidManifest.xml
  packages/firebase_in_app_messaging/android/src/main/java/io/flutter/plugins/firebase/inappmessaging/FirebaseInAppMessagingPlugin.java
  packages/firebase_in_app_messaging/example/android/app/src/androidTest/java/com/example/firebase_in_app_messaging/EmbeddingV1ActivityTest.java
  packages/firebase_in_app_messaging/example/android/app/src/androidTest/java/com/example/firebase_in_app_messaging/MainActivityTest.java
  packages/firebase_in_app_messaging/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_in_app_messaging/example/android/app/src/main/java/com/example/firebase_in_app_messaging_example/EmbeddingV1Activity.java
  packages/firebase_in_app_messaging/example/android/app/src/main/java/com/example/firebase_in_app_messaging_example/MainActivity.java
  packages/firebase_in_app_messaging/example/pubspec.yaml
  packages/firebase_in_app_messaging/ios/firebase_in_app_messaging.podspec
  packages/firebase_in_app_messaging/pubspec.yaml
Owners: @collinjackson

Include website changes in docs workflow
  .github/workflows/docs.yaml
  packages/firebase_ml_vision/example/pubspec.yaml
  packages/firebase_ml_vision/pubspec.yaml
Owners: @bparrishMines

docs: add migration guide (#3138)
  docs/migration-guide.mdx
  docs/sidebars.js
Owners: none

[firebase_ml_vision] Options for Cloud TextRecognizer (#3106)
  packages/firebase_ml_custom/example/lib/main.dart
  packages/firebase_ml_custom/example/pubspec.yaml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/TextRecognizer.java
  packages/firebase_ml_vision/example/lib/picture_scanner.dart
  packages/firebase_ml_vision/example/pubspec.yaml
  packages/firebase_ml_vision/example/test_driver/text_recognizer.dart
  packages/firebase_ml_vision/ios/Classes/TextRecognizer.m
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Owners: @bparrishMines

[firebase_ml_vision] Options for DocumentTextRecognizer (#3113)
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/DocumentTextRecognizer.java
  packages/firebase_ml_vision/example/test_driver/document_text_recognizer.dart
  packages/firebase_ml_vision/ios/Classes/DocumentTextRecognizer.m
  packages/firebase_ml_vision/lib/src/document_text_recognizer.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/document_text_recognizer_test.dart
Owners: @bparrishMines

[firebase_ml_custom] Improved descriptions of the plugin and the initial commit (#3145)
  README.md
  packages/firebase_ml_custom/CHANGELOG.md
  packages/firebase_ml_custom/pubspec.yaml
Owners: none

Bump firebase_auth_web dependency version (#3147)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/pubspec.yaml
Owners: none

Add direct trigger for docs workflow (#3149)
  .github/workflows/docs.yaml
Owners: none

docs: replace outdated pub URLs (#3146)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/auth/overview.mdx
  docs/functions/overview.mdx
  docs/overview.mdx
  packages/cloud_firestore/cloud_firestore/README.md
  packages/cloud_functions/cloud_functions/README.md
  packages/firebase_analytics/firebase_analytics/README.md
  packages/firebase_analytics/firebase_analytics/example/pubspec.yaml
  packages/firebase_auth/firebase_auth/README.md
  packages/firebase_auth/firebase_auth/example/README.md
  packages/firebase_core/firebase_core/README.md
  packages/firebase_crashlytics/README.md
  packages/firebase_database/README.md
  packages/firebase_dynamic_links/README.md
  packages/firebase_in_app_messaging/README.md
  packages/firebase_messaging/README.md
  packages/firebase_ml_custom/README.md
  packages/firebase_ml_custom/example/README.md
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/example/README.md
  packages/firebase_performance/README.md
  packages/firebase_remote_config/README.md
  packages/firebase_storage/README.md
  website/api.js
  website/src/pages/index.tsx
Owners: @kroikie, @collinjackson, @bparrishMines

refactor: remove signInSecondFactor (#3158)
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/id_token_result.dart
  packages/firebase_auth/firebase_auth_platform_interface/test/id_token_result_test.dart
  packages/firebase_auth/firebase_auth_platform_interface/test/method_channel_tests/method_channel_user_test.dart
Owners: none

docs: update docs (#3160)
  docs/auth/error-handling.mdx
  docs/auth/overview.mdx
  docs/auth/phone.mdx
  docs/auth/social.mdx
  docs/auth/usage.mdx
  docs/firestore/usage.mdx
  docs/installation/android.mdx
  docs/installation/ios.mdx
  docs/migration-guide.mdx
Owners: none

chore: update docs workflow to use yarn
  .github/workflows/docs.yaml
Owners: none

docs: allow version replacement on inline code blocks
  website/src/theme/MDXComponents/index.tsx
Owners: none

docs: fix typo
  docs/auth/error-handling.mdx
Owners: none

docs: fixed typos (#3143)
  packages/cloud_firestore/cloud_firestore/README.md
Owners: none

[docs] Add doc previews (#3175)
  .github/workflows/docs_preview.yaml
  docs-preview/action.min.js
  docs-preview/action.yaml
Owners: none

[firebase_dynamic_links] migrate to new `firebase_core` plugin (#3110)
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/build.gradle
  packages/firebase_dynamic_links/example/android/app/src/androidTest/java/io/flutter/plugins/firebasedynamiclinks/EmbeddingV1ActivityTest.java
  packages/firebase_dynamic_links/example/android/app/src/androidTest/java/io/flutter/plugins/firebasedynamiclinks/MainActivityTest.java
  packages/firebase_dynamic_links/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_dynamic_links/example/android/app/src/main/java/io/flutter/plugins/firebasedynamiclinksexample/EmbeddingV1Activity.java
  packages/firebase_dynamic_links/example/android/app/src/main/java/io/flutter/plugins/firebasedynamiclinksexample/MainActivity.java
  packages/firebase_dynamic_links/example/pubspec.yaml
  packages/firebase_dynamic_links/ios/firebase_dynamic_links.podspec
  packages/firebase_dynamic_links/pubspec.yaml
Owners: @bparrishMines

docs: fixed a typo in migration-guide.mdx (#3192)
  docs/migration-guide.mdx
Owners: none

fix(cloud_firestore): web - remove encode on "where" delegate (#3198)
  packages/cloud_firestore/cloud_firestore_web/lib/src/query_web.dart
Owners: none

fix(cloud_firestore): allow FieldPath.documentId as query field (#3200)
  packages/cloud_firestore/cloud_firestore/lib/src/query.dart
Owners: none

fix(dynamic_links): podspec (#3180)
  packages/firebase_dynamic_links/ios/firebase_dynamic_links.podspec
Owners: none

chore: remove android directory from web plugins (#3199)
  packages/cloud_firestore/cloud_firestore_web/android/.gitignore
  packages/cloud_firestore/cloud_firestore_web/android/build.gradle
  packages/cloud_firestore/cloud_firestore_web/android/gradle.properties
  packages/cloud_firestore/cloud_firestore_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/cloud_firestore/cloud_firestore_web/android/settings.gradle
  packages/cloud_firestore/cloud_firestore_web/android/src/main/AndroidManifest.xml
  packages/cloud_firestore/cloud_firestore_web/android/src/main/java/io/flutter/plugins/cloud_firestore_web/FirestoreWebPlugin.java
  packages/cloud_functions/cloud_functions_web/android/.gitignore
  packages/cloud_functions/cloud_functions_web/android/build.gradle
  packages/cloud_functions/cloud_functions_web/android/gradle.properties
  packages/cloud_functions/cloud_functions_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/cloud_functions/cloud_functions_web/android/settings.gradle
  packages/cloud_functions/cloud_functions_web/android/src/main/AndroidManifest.xml
  packages/cloud_functions/cloud_functions_web/android/src/main/java/io/flutter/plugins/cloud_functions_web/CloudFunctionsWebPlugin.java
  packages/firebase_auth/firebase_auth_web/android/.gitignore
  packages/firebase_auth/firebase_auth_web/android/build.gradle
  packages/firebase_auth/firebase_auth_web/android/gradle.properties
  packages/firebase_auth/firebase_auth_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_auth/firebase_auth_web/android/settings.gradle
  packages/firebase_auth/firebase_auth_web/android/src/main/AndroidManifest.xml
  packages/firebase_auth/firebase_auth_web/android/src/main/java/io/flutter/plugins/firebaseauth_web/FirebaseAuthWebPlugin.java
  packages/firebase_core/firebase_core_web/android/.gitignore
  packages/firebase_core/firebase_core_web/android/build.gradle
  packages/firebase_core/firebase_core_web/android/gradle.properties
  packages/firebase_core/firebase_core_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_core/firebase_core_web/android/settings.gradle
  packages/firebase_core/firebase_core_web/android/src/main/AndroidManifest.xml
  packages/firebase_core/firebase_core_web/android/src/main/java/io/flutter/plugins/firebase_core_web/FirebaseCoreWebPlugin.java
Owners: none

docs: update android migration steps (#3202)
  docs/migration-guide.mdx
Owners: none

docs(auth): fixed typo (#3207)
  docs/auth/usage.mdx
Owners: none

fix(android): suppress warnings (#3204)
  packages/cloud_firestore/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/firestore/FlutterFirebaseFirestoreMessageCodec.java
  packages/cloud_firestore/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/firestore/FlutterFirebaseFirestorePlugin.java
  packages/cloud_firestore/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/firestore/FlutterFirebaseFirestoreTransactionHandler.java
  packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebase/auth/FlutterFirebaseAuthPlugin.java
  packages/firebase_auth/firebase_auth/example/test_driver/user_e2e.dart
Owners: none

docs(auth): sync docs changes (#3206)
  docs/_assets/ios-apple-dev-copy-download.png
  docs/_assets/ios-apple-dev-enable-apns.png
  docs/_assets/ios-apple-dev-menu.png
  docs/_assets/ios-apple-dev-select-app-id.png
  docs/_assets/ios-enable-background-capability.png
  docs/_assets/ios-enable-push-notifications.png
  docs/_assets/ios-signing-capabilities.png
  docs/_assets/ios-xcode-assign-provisioning-profile.png
  docs/_assets/ios-xcode-bundle-id.png
  docs/auth/overview.mdx
  docs/auth/phone.mdx
  docs/auth/social.mdx
  docs/auth/usage.mdx
  docs/firestore/overview.mdx
  docs/installation/android.mdx
  docs/installation/macos.mdx
  docs/messaging/ios-integration.mdx
  docs/messaging/overview.mdx
  docs/overview.mdx
  docs/sidebars.js
  website/src/theme/MDXComponents/index.tsx
Owners: none

docs: fix typo
  docs/messaging/ios-integration.mdx
Owners: none

docs(messaging): clarify App ID steps
  docs/messaging/ios-integration.mdx
Owners: none

chore(core): promote to stable version
  packages/firebase_core/firebase_core/CHANGELOG.md
  packages/firebase_core/firebase_core/pubspec.yaml
  packages/firebase_core/firebase_core_platform_interface/CHANGELOG.md
  packages/firebase_core/firebase_core_platform_interface/pubspec.yaml
  packages/firebase_core/firebase_core_web/CHANGELOG.md
  packages/firebase_core/firebase_core_web/pubspec.yaml
Owners: none

chore(auth): promote to stable version
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/pubspec.yaml
  packages/firebase_auth/firebase_auth_platform_interface/CHANGELOG.md
  packages/firebase_auth/firebase_auth_platform_interface/pubspec.yaml
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
Owners: none

chore(firestore): promote to stable version
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/cloud_firestore_platform_interface/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_platform_interface/pubspec.yaml
  packages/cloud_firestore/cloud_firestore_web/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_web/pubspec.yaml
Owners: none

chore(functions): promote to stable version
  packages/cloud_functions/cloud_functions/CHANGELOG.md
  packages/cloud_functions/cloud_functions/pubspec.yaml
  packages/cloud_functions/cloud_functions_platform_interface/CHANGELOG.md
  packages/cloud_functions/cloud_functions_platform_interface/pubspec.yaml
  packages/cloud_functions/cloud_functions_web/CHANGELOG.md
  packages/cloud_functions/cloud_functions_web/pubspec.yaml
Owners: none

chore(analytics): promote to stable version
  packages/firebase_analytics/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/firebase_analytics/pubspec.yaml
Owners: none

chore(database): promote to stable version
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/pubspec.yaml
Owners: @collinjackson, @kroikie

chore(fiam): promote to stable version
  packages/firebase_in_app_messaging/CHANGELOG.md
  packages/firebase_in_app_messaging/example/pubspec.yaml
  packages/firebase_in_app_messaging/pubspec.yaml
Owners: @collinjackson

chore(messaging): promote to stable version
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

chore(perf): promote to stable version
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/pubspec.yaml
Owners: @bparrishMines, @collinjackson

chore(remote_config): promote to stable version
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/pubspec.yaml
Owners: @collinjackson, @kroikie
