Repository naturalspirit-dev/flutterfire, changes with the owners that CODEOWNERS names for each.
All owners: @collinjackson, @kroikie, @amirh, @bparrishMines

Fix analysis failures in cloud_functions (#1626)
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/example/test/cloud_functions_test.dart
  packages/cloud_functions/example/test_driver/cloud_functions_test.dart
  packages/cloud_functions/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_messaging] Update various build dependencies (#259)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/android/build.gradle
  packages/firebase_messaging/example/android/build.gradle
  packages/firebase_messaging/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_core_web] Remove leftover NonNull annotation (#1631)
  packages/firebase_core/firebase_core_web/android/src/main/java/io/flutter/plugins/firebase_core_web/FirebaseCoreWebPlugin.java
Owners: none

[firebase_auth_web] Removed onMethodCall override and related imports. (#1630)
  packages/firebase_auth/firebase_auth_web/android/src/main/java/io/flutter/plugins/firebaseauth_web/FirebaseAuthWebPlugin.java
Owners: none

[firebase_storage] Removed "i am working" print statements (#1652)
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/lib/src/storage_reference.dart
  packages/firebase_storage/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_messaging] Update README (#1664)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/pubspec.yaml
Owners: @collinjackson, @kroikie

[firebase_crashlytics] Updates the example with the missing "recordError". (#1663) (#1665)
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/example/lib/main.dart
  packages/firebase_crashlytics/example/test_driver/crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

[firebase_auth] Added Oauth for generic provider for iOS and Android devices (#1526)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/android/build.gradle
  packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/firebase_auth/example/.gitignore
  packages/firebase_auth/firebase_auth/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_auth/firebase_auth/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_auth/firebase_auth/example/android/gradle.properties
  packages/firebase_auth/firebase_auth/ios/Classes/FLTFirebaseAuthPlugin.m
  packages/firebase_auth/firebase_auth/ios/firebase_auth.podspec
  packages/firebase_auth/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/firebase_auth/lib/src/auth_provider/oauth_auth_provider.dart
  packages/firebase_auth/firebase_auth/pubspec.yaml
  packages/firebase_auth/firebase_auth/test/firebase_auth_test.dart
Owners: none

Change version to functionality update since new functionality was exposed (#1673)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/pubspec.yaml
Owners: none

[firebase_auth_platform_interface] support confirmPasswordReset (#1753)
  packages/firebase_auth/firebase_auth_platform_interface/CHANGELOG.md
  packages/firebase_auth/firebase_auth_platform_interface/lib/firebase_auth_platform_interface.dart
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/method_channel_firebase_auth.dart
  packages/firebase_auth/firebase_auth_platform_interface/pubspec.yaml
  packages/firebase_auth/firebase_auth_platform_interface/test/method_channel_firebase_auth_test.dart
Owners: none

[firebase_core, firebase_auth] Update web integration docs (#1783)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/README.md
  packages/firebase_auth/firebase_auth/pubspec.yaml
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/README.md
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
  packages/firebase_core/firebase_core/CHANGELOG.md
  packages/firebase_core/firebase_core/README.md
  packages/firebase_core/firebase_core/example/web/index.html
  packages/firebase_core/firebase_core/pubspec.yaml
  packages/firebase_core/firebase_core_web/CHANGELOG.md
  packages/firebase_core/firebase_core_web/README.md
  packages/firebase_core/firebase_core_web/pubspec.yaml
Owners: none

[all] Add macos checks to to CI (#1784)
  .cirrus.yml
  script/lint_darwin_plugins.sh
Owners: none

[firebase_auth] Correct method signature for confirmPasswordReset (#1780)
  packages/firebase_auth/firebase_auth_platform_interface/CHANGELOG.md
  packages/firebase_auth/firebase_auth_platform_interface/lib/firebase_auth_platform_interface.dart
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/method_channel_firebase_auth.dart
  packages/firebase_auth/firebase_auth_platform_interface/pubspec.yaml
  packages/firebase_auth/firebase_auth_platform_interface/test/method_channel_firebase_auth_test.dart
Owners: none

[firebase_auth_platform_interface] Fix typo in the MethodChannel implementation. (#1796)
  packages/firebase_auth/firebase_auth_platform_interface/CHANGELOG.md
  packages/firebase_auth/firebase_auth_platform_interface/lib/src/method_channel_firebase_auth.dart
  packages/firebase_auth/firebase_auth_platform_interface/pubspec.yaml
Owners: none

[firebase_auth_web] Fix firebase auth test by wrapping Dart functions in js.allowInterop (#1809)
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
  packages/firebase_auth/firebase_auth_web/test/firebase_auth_web_test.dart
Owners: none

[firebase_auth_web] Add null check to _fromJsUser. (#1798)
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/lib/firebase_auth_web.dart
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
  packages/firebase_auth/firebase_auth_web/test/firebase_auth_web_test.dart
  packages/firebase_auth/firebase_auth_web/test/mock/firebase_mock.dart
Owners: none

Configure GitHub move app (#1851)
  .github/move.yml
Owners: none

[cloud_functions] Update cloud_functions to use platform interface (#1854)
  AUTHORS
  packages/cloud_functions/cloud_functions/CHANGELOG.md
  packages/cloud_functions/cloud_functions/android/src/main/java/io/flutter/plugins/firebase/cloudfunctions/CloudFunctionsPlugin.java
  packages/cloud_functions/cloud_functions/lib/cloud_functions.dart
  packages/cloud_functions/cloud_functions/lib/src/cloud_functions.dart
  packages/cloud_functions/cloud_functions/lib/src/https_callable.dart
  packages/cloud_functions/cloud_functions/pubspec.yaml
  packages/cloud_functions/cloud_functions/test/cloud_functions_test.dart
Owners: none

[cloud_firestore] Fix broken __NSCFBoolean conversion always resulting in TRUE (iOS only) (#1407)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/ios/Classes/FLTCloudFirestorePlugin.m
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

Ensure Firestore example widgets are initialized (#1859)
  packages/cloud_firestore/cloud_firestore/example/lib/main.dart
Owners: none

[cloud_functions] No implementation found for method CloudFunctions#call (#1868)
  AUTHORS
  packages/cloud_functions/cloud_functions/CHANGELOG.md
  packages/cloud_functions/cloud_functions/android/src/main/java/io/flutter/plugins/firebase/cloudfunctions/CloudFunctionsPlugin.java
  packages/cloud_functions/cloud_functions/ios/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/cloud_functions/pubspec.yaml
Owners: none

[firebase_analytics]Keep a local registrar to get activity for foreground actions for v1 … (#1863)
  packages/firebase_analytics/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/firebase_analytics/android/src/main/java/io/flutter/plugins/firebaseanalytics/FirebaseAnalyticsPlugin.java
  packages/firebase_analytics/firebase_analytics/example/android/gradle.properties
  packages/firebase_analytics/firebase_analytics/pubspec.yaml
Owners: none

[firebase_auth] Confirm password reset (#1778)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/firebase_auth/ios/Classes/FLTFirebaseAuthPlugin.m
  packages/firebase_auth/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/firebase_auth/pubspec.yaml
  packages/firebase_auth/firebase_auth/test/firebase_auth_test.dart
Owners: none

Fix fallthrough bug (#1884)
  packages/firebase_auth/firebase_auth/CHANGELOG.md
  packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/firebase_auth/pubspec.yaml
Owners: none

[cloud_functions] web plugin implementation (#1890)
  .cirrus.yml
  .gitignore
  packages/cloud_functions/cloud_functions_web/.gitignore
  packages/cloud_functions/cloud_functions_web/CHANGELOG.md
  packages/cloud_functions/cloud_functions_web/LICENSE
  packages/cloud_functions/cloud_functions_web/README.md
  packages/cloud_functions/cloud_functions_web/lib/cloud_functions_web.dart
  packages/cloud_functions/cloud_functions_web/pubspec.yaml
  packages/cloud_functions/cloud_functions_web/test/cloud_functions_web_test.dart
  packages/cloud_functions/cloud_functions_web/test/mock/firebase_mock.dart
Owners: none

[firebase_auth] implement missing auth functionality for web (#1864)
  packages/firebase_auth/firebase_auth_web/CHANGELOG.md
  packages/firebase_auth/firebase_auth_web/lib/firebase_auth_web.dart
  packages/firebase_auth/firebase_auth_web/pubspec.yaml
Owners: none

[cloud_functions] create no-op stubs for iOS/Android in cloud_functions_web (#1908)
  packages/cloud_functions/cloud_functions_web/.metadata
  packages/cloud_functions/cloud_functions_web/CHANGELOG.md
  packages/cloud_functions/cloud_functions_web/android/.gitignore
  packages/cloud_functions/cloud_functions_web/android/build.gradle
  packages/cloud_functions/cloud_functions_web/android/gradle.properties
  packages/cloud_functions/cloud_functions_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/cloud_functions/cloud_functions_web/android/settings.gradle
  packages/cloud_functions/cloud_functions_web/android/src/main/AndroidManifest.xml
  packages/cloud_functions/cloud_functions_web/android/src/main/kotlin/io/flutter/plugins/cloud_functions_web/CloudFunctionsWebPlugin.kt
  packages/cloud_functions/cloud_functions_web/ios/cloud_functions_web.podspec
  packages/cloud_functions/cloud_functions_web/pubspec.yaml
Owners: none

[firebase_core, firebase_analytics, firebase_crashlytics] fix overrides a deprecated API (#1886)
  .gitignore
  packages/firebase_analytics/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/firebase_analytics/android/src/main/java/io/flutter/plugins/firebaseanalytics/FirebaseAnalyticsPlugin.java
  packages/firebase_analytics/firebase_analytics/pubspec.yaml
  packages/firebase_core/firebase_core/CHANGELOG.md
  packages/firebase_core/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FirebaseCorePlugin.java
  packages/firebase_core/firebase_core/pubspec.yaml
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/FirebaseCrashlyticsPlugin.java
  packages/firebase_crashlytics/pubspec.yaml
Owners: @kroikie, @collinjackson

Replace Kotlin with Java (#1910)
  packages/cloud_functions/cloud_functions_web/CHANGELOG.md
  packages/cloud_functions/cloud_functions_web/android/build.gradle
  packages/cloud_functions/cloud_functions_web/android/src/main/java/io/flutter/plugins/cloud_functions_web/CloudFunctionsWebPlugin.java
  packages/cloud_functions/cloud_functions_web/android/src/main/kotlin/io/flutter/plugins/cloud_functions_web/CloudFunctionsWebPlugin.kt
  packages/cloud_functions/cloud_functions_web/pubspec.yaml
Owners: none

[cloud_functions] Update example, README, depend on web plugin (#1909)
  packages/cloud_functions/cloud_functions/CHANGELOG.md
  packages/cloud_functions/cloud_functions/example/web/index.html
  packages/cloud_functions/cloud_functions/pubspec.yaml
  packages/cloud_functions/cloud_functions_web/CHANGELOG.md
  packages/cloud_functions/cloud_functions_web/README.md
  packages/cloud_functions/cloud_functions_web/pubspec.yaml
Owners: none

[cloud_firestore] Migrate to platform interface (#1945)
  .gitignore
  packages/cloud_firestore/cloud_firestore/.gitignore
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/analysis_options.yaml
  packages/cloud_firestore/cloud_firestore/example/android/gradle.properties
  packages/cloud_firestore/cloud_firestore/example/ios/Flutter/Flutter.podspec
  packages/cloud_firestore/cloud_firestore/example/lib/main.dart
  packages/cloud_firestore/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/cloud_firestore/lib/src/blob.dart
  packages/cloud_firestore/cloud_firestore/lib/src/collection_reference.dart
  packages/cloud_firestore/cloud_firestore/lib/src/document_change.dart
  packages/cloud_firestore/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/cloud_firestore/lib/src/document_snapshot.dart
  packages/cloud_firestore/cloud_firestore/lib/src/field_path.dart
  packages/cloud_firestore/cloud_firestore/lib/src/field_value.dart
  packages/cloud_firestore/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/cloud_firestore/lib/src/firestore_message_codec.dart
  packages/cloud_firestore/cloud_firestore/lib/src/geo_point.dart
  packages/cloud_firestore/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/cloud_firestore/lib/src/query_snapshot.dart
  packages/cloud_firestore/cloud_firestore/lib/src/snapshot_metadata.dart
  packages/cloud_firestore/cloud_firestore/lib/src/source.dart
  packages/cloud_firestore/cloud_firestore/lib/src/timestamp.dart
  packages/cloud_firestore/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/cloud_firestore/lib/src/utils/auto_id_generator.dart
  packages/cloud_firestore/cloud_firestore/lib/src/utils/codec_utility.dart
  packages/cloud_firestore/cloud_firestore/lib/src/utils/platform_utils.dart
  packages/cloud_firestore/cloud_firestore/lib/src/write_batch.dart
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/cloud_firestore/test/cloud_firestore_test.dart
Owners: none

[cloud_firestore] Fix crashes when using DocumentReference with Query (#1955)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

[cloud_firestore] Created firestore web plugin (#1950)
  packages/cloud_firestore/cloud_firestore_web/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_web/LICENSE
  packages/cloud_firestore/cloud_firestore_web/README.md
  packages/cloud_firestore/cloud_firestore_web/android/.gitignore
  packages/cloud_firestore/cloud_firestore_web/android/build.gradle
  packages/cloud_firestore/cloud_firestore_web/android/gradle.properties
  packages/cloud_firestore/cloud_firestore_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/cloud_firestore/cloud_firestore_web/android/settings.gradle
  packages/cloud_firestore/cloud_firestore_web/android/src/main/AndroidManifest.xml
  packages/cloud_firestore/cloud_firestore_web/android/src/main/java/io/flutter/plugins/cloud_firestore_web/FirestoreWebPlugin.java
  packages/cloud_firestore/cloud_firestore_web/ios/cloud_firestore_web.podspec
  packages/cloud_firestore/cloud_firestore_web/lib/cloud_firestore_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/collection_reference_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/document_reference_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/field_value_factory_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/field_value_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/query_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/transaction_web.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/utils/codec_utility.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/utils/document_reference_utils.dart
  packages/cloud_firestore/cloud_firestore_web/lib/src/write_batch_web.dart
  packages/cloud_firestore/cloud_firestore_web/pubspec.yaml
  packages/cloud_firestore/cloud_firestore_web/test/codec_utility_test.dart
  packages/cloud_firestore/cloud_firestore_web/test/collection_reference_web_test.dart
  packages/cloud_firestore/cloud_firestore_web/test/document_reference_web_test.dart
  packages/cloud_firestore/cloud_firestore_web/test/field_value_factory_web_test.dart
  packages/cloud_firestore/cloud_firestore_web/test/query_web_test.dart
  packages/cloud_firestore/cloud_firestore_web/test/test_common.dart
  packages/cloud_firestore/cloud_firestore_web/test/transaction_web_test.dart
  packages/cloud_firestore/cloud_firestore_web/test/write_batch_web_test.dart
Owners: none

[cloud_firestore_web] Fix fileName prop in pubspec.yaml (#1974)
  packages/cloud_firestore/cloud_firestore_web/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_web/pubspec.yaml
Owners: none

[cloud_firestore] Endorse cloud_firestore_web. (#1977)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/example/web/index.html
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

[cloud_firestore, cloud_firestore_web] Update Firestore web documentation. (#1982)
  README.md
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/README.md
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/cloud_firestore_web/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_web/README.md
  packages/cloud_firestore/cloud_firestore_web/pubspec.yaml
Owners: none

[cloud_firestore_web] Remove unit test that was only testing dart-lang. (#1992)
  packages/cloud_firestore/cloud_firestore_web/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore_web/pubspec.yaml
  packages/cloud_firestore/cloud_firestore_web/test/field_value_factory_web_test.dart
Owners: none

[firebase_core] Add macOS support (#1704)
  packages/firebase_core/firebase_core/CHANGELOG.md
  packages/firebase_core/firebase_core/darwin/Classes/FLTFirebaseCorePlugin.m
  packages/firebase_core/firebase_core/example/macos/.gitignore
  packages/firebase_core/firebase_core/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/firebase_core/firebase_core/example/macos/Flutter/Flutter-Release.xcconfig
  packages/firebase_core/firebase_core/example/macos/Runner.xcodeproj/project.pbxproj
  packages/firebase_core/firebase_core/example/macos/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/firebase_core/firebase_core/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_core/firebase_core/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/firebase_core/firebase_core/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/firebase_core/firebase_core/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/firebase_core/firebase_core/example/macos/Runner/AppDelegate.swift
  packages/firebase_core/firebase_core/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/firebase_core/firebase_core/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/firebase_core/firebase_core/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/firebase_core/firebase_core/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/firebase_core/firebase_core/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/firebase_core/firebase_core/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/firebase_core/firebase_core/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/firebase_core/firebase_core/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/firebase_core/firebase_core/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/firebase_core/firebase_core/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/firebase_core/firebase_core/example/macos/Runner/Configs/Debug.xcconfig
  packages/firebase_core/firebase_core/example/macos/Runner/Configs/Release.xcconfig
  packages/firebase_core/firebase_core/example/macos/Runner/Configs/Warnings.xcconfig
  packages/firebase_core/firebase_core/example/macos/Runner/DebugProfile.entitlements
  packages/firebase_core/firebase_core/example/macos/Runner/Info.plist
  packages/firebase_core/firebase_core/example/macos/Runner/MainFlutterWindow.swift
  packages/firebase_core/firebase_core/example/macos/Runner/Release.entitlements
  packages/firebase_core/firebase_core/lib/src/default_app_name_io.dart
  packages/firebase_core/firebase_core/macos/Assets/.gitkeep
  packages/firebase_core/firebase_core/macos/Classes/FLTFirebaseCorePlugin.h
  packages/firebase_core/firebase_core/macos/Classes/FLTFirebaseCorePlugin.m
  packages/firebase_core/firebase_core/macos/firebase_core.podspec
  packages/firebase_core/firebase_core/pubspec.yaml
Owners: none

Remove ignore for workspaces (#1996)
  .gitignore
Owners: none

[cloud_firestore] Fix crashes when passing DocumentReference to FieldValue (#1994)
  packages/cloud_firestore/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/cloud_firestore/lib/src/field_value.dart
  packages/cloud_firestore/cloud_firestore/pubspec.yaml
Owners: none

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/cloud_firestore/* @collinjackson @kroikie
packages/cloud_functions/* @collinjackson @kroikie
packages/firebase_admob/* @amirh @bparrishMines
packages/firebase_analytics/* @collinjackson @kroikie
packages/firebase_auth/* @collinjackson @kroikie
packages/firebase_core/* @collinjackson @kroikie
packages/firebase_crashlytics/* @kroikie @collinjackson
packages/firebase_database/* @collinjackson @kroikie
packages/firebase_dynamic_links/* @bparrishMines
packages/firebase_in_app_messaging/* @collinjackson
packages/firebase_messaging/* @collinjackson @kroikie
packages/firebase_ml_vision/* @bparrishMines
packages/firebase_performance/* @bparrishMines @collinjackson
packages/firebase_remote_config/* @collinjackson @kroikie
packages/firebase_storage/* @collinjackson @kroikie
